section.section.banner-9.mb-100
    .box-banner-home9
        .container.position-relative
            .row.align-items-center
                .col-lg-7.mb-30
                    span.title-line.line-48.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Get Started
                    h2.color-brand-1.mb-15.mt-0.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Promotes your business
                        br.d-none.d-lg-block
                        | no matter what you do
                    p.font-md.color-grey-500.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s')
                        | Collaborate, plan projects and manage resources with powerful features that
                        br.d-none.d-lg-block
                        | your whole team can use.  The latest news, tips and advice to help you run your
                        br.d-none.d-lg-block
                        | business with less fuss.
                    .mt-10.wow.animate__animated.animate__fadeInUp(data-wow-delay='.6s')
                        a.btn.btn-play.btn-play-white.font-sm-bold.popup-youtube(href="https://www.youtube.com/watch?v=sVPYIRF9RCQ") Play video

                .col-lg-5.mb-30.wow.animate__animated.animate__fadeInLeft(data-wow-delay='.0s')
                    .box-joined
                        .box-authors
                            span.item-author
                                img(src="assets/imgs/page/homepage7/author1.png", alt="Flowedge")
                            span.item-author
                                img(src="assets/imgs/page/homepage7/author2.png", alt="Flowedge")
                            span.item-author
                                img(src="assets/imgs/page/homepage7/author3.png", alt="Flowedge")
                            span.item-author
                                span.text-num-author.font-md-bold.color-brand-1.bg-grey-60 +2k
                        span.join-thousands.font-sm.color-grey-400.d-inline-block Join thousands of users in using the
                            a.font-sm-bold.color-brand-1(href="#") Flowedge platform!

            .box-image-banner-9.wow.animate__animated.animate__fadeIn
                img(src="assets/imgs/page/homepage9/banner.png", alt="Flowedge")
            .box-ticks
                .row
                    .col-lg-4.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                        span.item-tick.color-brand-1.font-xl-bold Unlimited design & dev requests
                    .col-lg-4.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                        span.item-tick.color-brand-1.font-xl-bold No Card. No Contract. Cancel anytime
                    .col-lg-4.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                        span.item-tick.color-brand-1.font-xl-bold Monthly flat-rate. Support 24/7