section.section.pt-80
    .container
        .text-center
            h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Frequently asked questions
            p.font-lg.color-gray-500.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Feeling inquisitive? Have a read through some of our FAQs or
                br.d-none.d-lg-block
                |  contact our supporters for help
        .row.mt-50.mb-50
            .col-xl-12.col-lg-12.position-relative
                #accordionFAQ.accordion.accordionStyle2
                    .row
                        .col-lg-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                            .accordion-item
                                h5#headingOne.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Where is my order? Quisque molestie
                                #collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Vel tenetur officiis ab reiciendis dolor aut quae doloremque est ipsum natus et consequatur animi aut sunt dolores ut quasi rerum. Aut velit velit id quasi velit eum reiciendis laudantium quo galisum incidunt aut velit animi hic temporibus blanditiis sit odit iure. Eum laborum dolores ea molestias fuga qui temporibus accusantium qui soluta aliquid ab vero soluta.
                        .col-lg-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                            .accordion-item
                                h5#headingTwo.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') How can I return an item purchased online?
                                #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                        .col-lg-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                            .accordion-item
                                h5#headingThree.accordion-header
                                    button.accordion-button.text-heading-5.collapsed.text-heading-5(class='type=', data-bs-toggle='collapse', data-bs-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree') Can I cancel or change my order?
                                #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Aut architecto consequatur sit error nemo sed dolorum suscipit 33 impedit dignissimos ut velit blanditiis qui quos magni id dolore dignissimos. Sit ipsa consectetur et sint harum et dicta consequuntur id cupiditate perferendis qui quisquam enim. Vel autem illo id error excepturi est dolorum voluptas qui maxime consequatur et culpa quibusdam in iusto vero sit amet Quis.
                        .col-lg-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                            .accordion-item
                                h5#headingFour.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour') I have promotional or discount code?
                                #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Eos nostrum aperiam ab enim quas sit voluptate fuga. Ea aperiam voluptas a accusantium similique 33 alias sapiente non vitae repellat et dolorum omnis eos beatae praesentium id sunt corporis. Aut nisi blanditiis aut corrupti quae et accusantium doloribus sed tempore libero a dolorum beatae.
                        .col-lg-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                            .accordion-item
                                h5#headingFive.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive') What are the delivery types you use?
                                #collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Et beatae quae ex minima porro aut nihil quia sed optio dignissimos et voluptates deleniti et nesciunt veritatis et suscipit quod. Est sint voluptate id unde nesciunt non deleniti debitis. Ut dolores tempore vel placeat nemo quo enim reprehenderit eos corrupti maiores et minima quaerat. Quo sequi eaque eum similique sint et autem perspiciatis cum Quis exercitationem quo quos excepturi non ducimus ducimus eos natus velit.
                        .col-lg-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                            .accordion-item
                                h5#headingSix.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix') How can I pay for my purchases?
                                #collapseSix.accordion-collapse.collapse(aria-labelledby='headingSix', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Qui quas itaque ut molestias culpa vel culpa voluptas eos fugit sint ex veritatis totam cum unde maxime! Qui eius fugiat qui veritatis cumque a nesciunt nemo. Id numquam rerum est molestiae quia ut nisi architecto a officiis itaque eum quod repellat ut dolorem dolorem aut ipsam ipsa.