section.section.mt-50
    .container
        .text-center
            h2.color-brand-1.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')  Crafting human connection through
                br.d-none.d-lg-block
                | digital experience
            p.color-grey-500.font-md.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')  Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir
                br.d-none.d-lg-block
                | craft! All products were super amazing with strong attension to details, comps and overall vibe.
        .row.align-items-start.mt-50
            .col-xl-6.col-lg-6.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                .card-radius-32.bg-2
                    .card-info.text-start
                        h3.color-brand-1.mb-20 Social Media Platform
                        p.font-md.color-grey-500.mb-20 Manage your media channels professionally and efficiently. Real-time and automatic reporting system.
                        .text-start
                            a(href="#")
                                img.mr-10(src="assets/imgs/template/appstore.png", alt="Flowedge")
                            a(href="#")
                                img(src="assets/imgs/template/google-play.png", alt="Flowedge")
                    .card-image.mb-10
                        img(src="assets/imgs/page/homepage9/img.png", alt="Flowedge")
            .col-xl-6.col-lg-6.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                .card-radius-32.bg-11
                    .card-info.text-start
                        h3.color-brand-1.mb-20 Automated Platform
                        p.font-md.color-grey-500.mb-20 Synchronize and automate all your business in the cloud. Save time and effort, enjoy great vacations.
                        .mt-0
                            a.btn.btn-brand-1-small(href="#") Get Started Now
                                svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')

                    .card-image.image-automated
                        img.d-block(src="assets/imgs/page/homepage9/img2.png", alt="Flowedge")

            .col-xl-12.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                .card-radius-32.bg-1
                    .row.align-items-center
                        .col-lg-6
                            .box-cover-pd.box-cover-pd-3.pt-30.pb-30.mb-30
                                span.title-line.line-48 Automatic Tools
                                h2.color-brand-1.mt-10.mb-15 Business can also
                                    br.d-none.d-lg-block
                                    | be simple
                                p.font-md.color-grey-400 Access advanced order types including limit, market, stop limit and dollar cost averaging. Track your total asset holdings, values and equity over time. Monitor markets, manage your portfolio, and trade crypto on the go.
                                .mt-40
                                    ul.list-ticks
                                        li
                                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                            | Task tracking
                                        li
                                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                            | Create task dependencies
                                        li
                                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                            | Task visualization
                                        li
                                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                            | hare files, discuss
                                        li
                                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                            | Meet deadlines faster
                                        li
                                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                            | Track time spent on each project
                                .mt-40.text-start
                                    a.btn.btn-brand-1.hover-up(href="help.html") Help Center
                                    a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                                        svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                        .col-lg-6.text-center.position-relative
                            .box-circle-image
                                img.d-block.m-auto(src="assets/imgs/page/homepage9/img3.png", alt="Flowedge")
                                .shape-1.box-image-4
                                    img(src="assets/imgs/page/homepage9/testimonial.png", alt="Flowedge")
                                .box-number-business.shape-3
                                    .cardNumber.bg-white
                                        h3 25k+
                                        p.font-xs.color-brand-1 Happy Clients