section.section.mt-120
    .container
        .box-radius-32-style-2
            .row.align-items-center
                .col-lg-7
                    span.title-line.line-48.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')  Get Started
                    h1.color-brand-1.mb-20.mt-10.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')  Start for free
                        br.d-none.d-lg-block
                        | Pay as you Grow
                    .row.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                        .col-lg-10
                            p.font-md.color-grey-500 Collaborate, plan projects and manage resources with powerful features that your whole team can use.  The latest news, tips and advice to help you run your business with less fuss.
                    .mt-30
                        h5.color-brand-1.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')  Available on
                    .box-button.mt-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                        a.btn-app.mb-15.hover-up(href='#')
                            img(src="assets/imgs/template/appstore-btn.png", alt="Flowedge")
                        a.btn-app.mb-15.hover-up(href='#')
                            img(src="assets/imgs/template/google-play-btn.png", alt="Flowedge")
                        a.btn.btn-default.mb-15.pl-10.font-sm-bold.hover-up(href='#')
                            | Learn More
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                .col-lg-5.text-start.position-relative
                    span.arrow-down-banner.shape-1
                    span.arrow-right-banner.shape-2
                    .box-signup.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                        h4.color-brand-1.mb-30 Sign up for free
                        .form-group.mb-25
                            label.font-sm.color-grey-900.mb-10 Your email *
                            input.form-control(type="text", placeholder="stevenjob@gmail.com")
                        .form-group.mb-25
                            label.font-sm.color-grey-900.mb-10 Your password
                            input.form-control(type="password", placeholder="********")
                        .form-group.mb-25
                            label
                                input.form-cb(type="checkbox")
                                | Remeber me
                        .form-group.mb-15
                            button.btn.btn-brand-1-full(type="submit") Sing In
                        .form-group.mb-25
                            a(href="#").btn.btn-border.btn-full.signin-google
                                img(src="assets/imgs/page/homepage4/google.png", alt="Flowedge")
                                | Sign in with Google
                        .text-already.text-center
                            span.font-xs.color-grey-400 Already have an account?
                            a.color-brand-1.font-xs(href="#") Sign in
                            span.font-xs.color-grey-400 .