section.section.mt-30
    .container 
        .box-banner-shop-list.bg-4
            .row.align-items-center 
                .col-lg-6.text-center
                    .box-banner-image.bg-10
                        img.mw-90(src="assets/imgs/page/shop-list/banner.png", alt="Flowedge")
                .col-lg-6
                    .box-info-banner-shop-list 
                        h6.color-danger.mb-10 HOT DEAL
                        h2.color-gray-800.mb-20 Leather Canvas Camera Bag Vintage
                        .d-flex.align-items-center.mb-30.box-price-banner  
                            h3.color-success.mr-30 $318.00
                            h4.color-grey-200.mr-30 $420.00
                            p.font-md.color-grey-200 (In stock)
                        p.mb-30.font-md.color-grey-500 We're lively, not corporate. We have the energy and boldness of a startup and the expertise and pragmatism of a scale-up. All in one place.
                        .box-quantity 
                            .form-quantity.mr-10 
                                input.input-quantity(type="text",value="1")
                                span.button-quantity.button-up
                                span.button-quantity.button-down 
                            a.btn.btn-brand-1.mr-10(href="#") Add To Cart
                            a.btn.btn-brand-1.btn-wish(href="#") 
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z')
                        .mt-60.d-flex.align-item-center.box-share-banner 
                            strong.font-xs-bold.color-brand-1.mr-20 Share
                            .list-socials.mt-0.d-inline-block 
                                a.icon-socials.icon-facebook(href='#')
                                a.icon-socials.icon-instagram(href='#')
                                a.icon-socials.icon-twitter(href='#')