section.section.mt-50
    .container
        .box-business-rd
            .row.align-items-center
                .col-lg-5
                    span.btn.btn-tag.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Business
                    h3.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Integrate with over 1,000 project management apps
                    p.font-md.color-grey-400.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.
                    .mt-20
                        ul.list-ticks
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Task tracking
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Create task dependencies
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Task visualization
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | hare files, discuss
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Meet deadlines faster
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Track time spent on each project
                    .mt-50.text-start.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                        a.btn.btn-brand-1.hover-up(href="#") Download App
                        a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                .col-lg-7.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                    .box-business-service
                        .box-number-1.shape-2
                            .cardNumber.bg-white
                                h3 25k+
                                p.font-xs.color-brand-1 Happy Clients
                        .box-image-1.shape-3
                            img(src="assets/imgs/page/service/img1.png", alt="Flowedge")
                        .box-image-2.shape-2
                            img(src="assets/imgs/page/service/img2.png", alt="Flowedge")
                        .box-image-3.shape-1
                            img(src="assets/imgs/page/service/img4.png", alt="Flowedge")
                            .cardNumber.bg-white
                                h2.color-brand-1
                                    span.count 469
                                    span k
                                p.font-lg.color-brand-1 Social followers