section.section.mt-100
    .container
        .row
            .col-lg-12.text-center
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') What We Offer
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') What makes us different from others? We give holistic solutions
                    br.d-none.d-lg-block
                    | with strategy, design & technology.

        .mt-50.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
            .box-swiper
                .swiper-container.swiper-group-4
                    .swiper-wrapper
                        .swiper-slide
                            +cardOfferStyle3("assets/imgs/page/homepage1/cross.png","Cross-Platform","Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
                        .swiper-slide.head-bg-brand-2
                            +cardOfferStyle3("assets/imgs/page/homepage1/cross2.png","Business strategy","Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
                        .swiper-slide.head-bg-2
                            +cardOfferStyle3("assets/imgs/page/homepage1/business.svg","Local Marketing","Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
                        .swiper-slide.head-bg-5
                            +cardOfferStyle3("assets/imgs/page/homepage1/cross4.png","Social Media","Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
                    .box-button-slider-bottom
                        .swiper-button-prev.swiper-button-prev-group-4
                            svg.w-6.h-6(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M10 19l-7-7m0 0l7-7m-7 7h18')
                        .swiper-button-next.swiper-button-next-group-4
                            svg.w-6.h-6(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')