section.section.banner-12
    .asset-1.shape-1
    .asset-2.shape-2
    .asset-3.shape-3
    .asset-4.shape-1
    .asset-5.shape-2
    .container.text-center
        .row.mt-150
            .col-xl-8.col-lg-10.m-auto
                span.font-md.color-grey-400.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Think. Creative. Solve
                h1.color-brand-1.mb-25.mt-10.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') Innovative Solution to Move Your Business Forward
                p.font-md.color-grey-500.mb-25.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                    | Collaborate, plan projects and manage resources with powerful features that your whole team
                    br.d-none.d-lg-block
                    | can use.  The latest news, tips and advice to help you run your business with less fuss.
                .wow.animate__animated.animate__fadeIn(data-wow-delay='.6s')
                    a(href="#")
                        img.mr-10(src="assets/imgs/template/appstore.png", alt="Flowedge")
                    a(href="#")
                        img(src="assets/imgs/template/google-play.png", alt="Flowedge")