.container.mt-80
    .row
        .col-xl-12.mb-30
            .card-radius-32.bg-grey-60
                .row
                    .col-lg-6
                        .box-cover-pd
                            .box-image-rd-30
                                .wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                                    img.w-100(src="assets/imgs/page/homepage12/business.png", alt="Flowedge")
                                h4.color-brand-1.lbl-on-top.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s') Flowedge Business Platform
                    .col-lg-6
                        .box-cover-pd-2
                            h2.color-brand-1.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') How to grow your
                                br.d-none.d-lg-block
                                | business fast
                            .wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                +cardSteps('1','Create an account')
                            .wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                +cardSteps('2','Build your founding team')
                            .wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                +cardSteps('3','Launch and Scale')