section.section.mt-80
    .container
        .box-create-account.bg-4
            .row.align-items-center
                .col-lg-6
                    span.title-line.line-48.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Take the control
                    h2.color-brand-1.mb-20.mt-10.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') Create a free
                        br.d-none.d-lg-block
                        | account today.
                    p.font-md.color-grey-500.mb-50.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s') Access advanced order types including limit, market, stop limit and dollar cost averaging. Track your total asset holdings, values and equity over time. Monitor markets, manage your portfolio, and trade crypto on the go.
                    .row
                        .col-lg-6.col-sm-6.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                            .box-image-bg-60
                                img.d-block(src="assets/imgs/page/homepage3/personal.svg", alt="Flowedge")
                            h6.color-brand-1.mb-15 Personal
                            p.font-xs.color-grey-500 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque. Praesent vulputate justo dictum nisl faucibus, eu feugiat ex pretium. Duis sed mauris at nisi egestas suscipit eget eu enim.
                        .col-lg-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                            .box-image-bg-60
                                img.d-block(src="assets/imgs/page/homepage3/building.svg", alt="Flowedge")
                            h6.color-brand-1.mb-15 Personal
                            p.font-xs.color-grey-500 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque. Praesent vulputate justo dictum nisl faucibus, eu feugiat ex pretium. Duis sed mauris at nisi egestas suscipit eget eu enim.
                .col-lg-6.position-relative.mb-30.box-right
                    .box-image-account
                        img.d-block(src="assets/imgs/page/homepage12/account.png", alt="Flowedge")
                    .cardNumber.bg-2
                        .card-head
                            span.count 469
                            span k
                        .card-description Social followers