section.section.mt-110
    .container
        .row.align-items-end
            .col-lg-6.mb-20
                h2.color-brand-1.mb-0.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Crafting human connection through digital experience
            .col-lg-6.mb-20
                p.color-grey-500.font-md.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.
                a.btn.btn-default.p-0.font-sm-bold.hover-up(href='#')
                            | Contact Us
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')

        .row.mt-45
            .col-lg-4.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                +cardHuman('assets/imgs/page/homepage12/human1.png','Cross Platform','Discover powerful features to boost your productivit. You are always welcome to visit our little den.')
            .col-lg-4.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +cardHuman('assets/imgs/page/homepage12/human2.png','Cross Platform','Discover powerful features to boost your productivit. You are always welcome to visit our little den.')
                    img(src="assets/imgs/page/homepage12/human2.png", alt="Flowedge")
            .col-lg-4.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                +cardHuman('assets/imgs/page/homepage12/human3.png','Cross Platform','Discover powerful features to boost your productivit. You are always welcome to visit our little den.')