section.section.banner-3
    .container
        .banner-1
            .row.align-items-end
                .col-lg-6.pt-80.pb-50
                    span.title-line.line-48.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                        span Get Started
                    h1.color-brand-1.mb-20.mt-15.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Grow your online business now
                    .box-button-video.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s')
                            a.btn.btn-play.font-sm-bold.popup-youtube.color-brand-1.hover-up(href="https://www.youtube.com/watch?v=sVPYIRF9RCQ") Play Video
                    .mt-40.d-flex
                        .wow.animate__animated.animate__zoomIn(data-wow-delay='.0s')
                            img.img-banner-1.mr-15(src="assets/imgs/page/homepage3/chart1.png", alt="Flowedge")
                        .wow.animate__animated.animate__zoomIn(data-wow-delay='.2s')
                            img.img-banner-2(src="assets/imgs/page/homepage3/chart2.png", alt="Flowedge")
                .col-lg-6.d-none.d-lg-block.position-relative
                    .box-image-main.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                        img.image-banner-main.d-block(src="assets/imgs/page/homepage3/banner.png", alt="Flowedge")
                    .box-chart
                        img.image-chart.shape-1(src="assets/imgs/page/homepage3/chart.png", alt="Flowedge")