section.section.mt-100
    .container
        .row.mt-50
            .col-xl-5.col-lg-12.mb-40
                h2.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Business can also be simple
                p.font-md.color-grey-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s') Access advanced order types including limit, market, stop limit and dollar cost averaging. Track your total asset holdings, values and equity over time. Monitor markets, manage your portfolio, and trade crypto on the go.
                .mt-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                    ul.list-ticks
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Task tracking
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Create task dependencies
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Task visualization
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | hare files, discuss
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Meet deadlines faster
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Track time spent on each project
                .mt-30.text-start.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                    a.btn.btn-brand-1.hover-up(href="#") Download App
                    a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                        svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
            .col-xl-7.col-lg-12
                .box-video-business
                    .item-video.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                        a.btn.btn-play-center.popup-youtube(href="https://www.youtube.com/watch?v=sVPYIRF9RCQ")
                        img.bd-rd4(src="assets/imgs/page/homepage3/img1.png", alt="Flowedge")
                    .box-image-right
                        .wow.animate__animated.animate__zoomIn(data-wow-delay='.0s')
                            img.bd-rd4.mb-20(src="assets/imgs/page/homepage3/img2.png", alt="Flowedge")
                        .wow.animate__animated.animate__zoomIn(data-wow-delay='.2s')
                            img.bd-rd4(src="assets/imgs/page/homepage3/img3.png", alt="Flowedge")