section.section.mt-100
    .container
        .row.align-items-center
            .col-lg-12.text-center
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Choose The Best Plan
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s') Pick your plan. Change whenever you want.
                    br.d-none.d-lg-block
                    | No switching fees between packages
                ul.tabs-plan.change-price-plan(role="tablist")
                    li.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                        a.active(href="#", data-type="monthly") Monthly
                    li.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                        a(href="#", data-type="yearly") Yearly
        .row.mt-50
            .col-xl-3.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                .card-plan-style-2.hover-up
                    .card-plan
                        .card-image-plan
                            .icon-plan
                                img(src="assets/imgs/page/homepage1/free.svg", alt="Flowedge")
                            .info-plan
                                h4.color-brand-1 Trial Plan
                                p.font-md.color-grey-400 Protect for testing
                        .box-day-trial
                            span.font-lg-bold.color-brand-1 FREE
                            |
                            span.font-md.color-grey-500 - 30 days trial
                            br
                            span.font-xs.color-grey-500 No Credit card required
                        .mt-20
                            a.btn.btn-brand-1-full.hover-up(href="#") Try for free
                                svg.w-6.h-6.icon-16.ml-10(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                    .mt-30.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                        ul.list-ticks.list-ticks-2
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Max number of results per month
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Various innovative test
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Insightful analytics
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Additional user accounts

            .col-xl-3.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                .card-plan-style-2.hover-up
                    .card-plan
                        .card-image-plan
                            .icon-plan.bg-1
                                img(src="assets/imgs/page/homepage1/standard.svg", alt="Flowedge")
                            .info-plan
                                h4.color-brand-1 Standard
                                p.font-md.color-grey-400 Advanced project
                        .box-day-trial
                            span.font-lg-bold.color-brand-1.text-price-standard $29
                            |
                            span.font-md.color-grey-500.text-type-standard - user / month
                            br
                            span.font-xs.color-grey-500 Billed annually
                        .mt-20
                            a.btn.btn-brand-1-full.hover-up(href="#") Get Started
                                svg.w-6.h-6.icon-16.ml-10(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                    .mt-30.mb-30
                        ul.list-ticks.list-ticks-2
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Max number of results per month
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Various innovative test
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Insightful analytics
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Additional user accounts
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Global Certificates
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Customization & API Integration

            .col-xl-3.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                .card-plan-style-2.hover-up
                    .card-plan
                        .card-image-plan
                            .icon-plan.bg-2
                                img(src="assets/imgs/page/homepage1/business.svg", alt="Flowedge")
                            .info-plan
                                h4.color-brand-1 Business
                                p.font-md.color-grey-400 Protect for testing
                        .box-day-trial
                            span.font-lg-bold.color-brand-1.text-price-business $99
                            |
                            span.font-md.color-grey-500.text-type-business - user / month
                            br
                            span.font-xs.color-grey-500 Billed annually
                        .mt-20
                            a.btn.btn-brand-1-full.hover-up(href="#") Get Started
                                svg.w-6.h-6.icon-16.ml-10(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                    .mt-30.mb-30
                        ul.list-ticks.list-ticks-2
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Max number of results per month
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Various innovative test
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Insightful analytics
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Additional user accounts
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Global Certificates
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Customization & API Integration
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Project dashboard, Gantt chart

            .col-xl-3.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                .card-plan-style-2.hover-up
                    .card-plan
                        .card-image-plan
                            .icon-plan.bg-3
                                img(src="assets/imgs/page/homepage1/enterprise.svg", alt="Flowedge")
                            .info-plan
                                h4.color-brand-1 Enterprise
                                p.font-md.color-grey-400 Protect for testing
                        .box-day-trial
                            span.font-lg-bold.color-brand-1.text-price-enterprise $299
                            |
                            span.font-md.color-grey-500.text-type-enterprise - user / month
                            br
                            span.font-xs.color-grey-500 One-time pay
                        .mt-20
                            a.btn.btn-brand-1-full.hover-up(href="#") Get Started
                                svg.w-6.h-6.icon-16.ml-10(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                    .mt-30.mb-30
                        ul.list-ticks.list-ticks-2
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Max number of results per month
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Various innovative test
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Insightful analytics
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Additional user accounts
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Global Certificates
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Customization & API Integration
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Project dashboard, Gantt chart
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Dedicated account manager
        .border-bottom.mt-30