section.section.mt-100.box-testimonial-2
    .container
        .row.align-items-center
            .col-lg-5.text-start.pt-50
                span.title-line.line-48.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Testimonials
                h2.color-brand-1.mb-20.mt-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') What our clients
                    br.d-none.d-lg-block
                    | say about us
                .row
                    .col-lg-10.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                        p.font-md.color-gray-500.mb-30 Access advanced order types including limit, market, stop limit and dollar cost averaging. Track your total asset holdings, values and equity over time. Monitor markets, manage your portfolio, and trade crypto on the go.
            .col-lg-7.bg-testimonials.position-relative
                .ml-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                    +cardTestimonialList('assets/imgs/page/homepage1/author.png', 'Guy Hawkins', 'Bank of America', 'Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list.')
                .ml-100.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                    +cardTestimonialList('assets/imgs/page/homepage2/author2.png', 'Guy Hawkins', 'Bank of America', 'Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list.')
                        .rating.text-end
                            img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                            |
                            img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                            |
                            img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                            |
                            img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                            |
                            img(src="assets/imgs/template/icons/star-gray.svg", alt="Flowedge")
                .wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                    +cardTestimonialList('assets/imgs/page/homepage2/author3.png', 'Guy Hawkins', 'Bank of America', 'Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list.')
                        .rating.text-end
                            img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                            |
                            img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                            |
                            img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                            |
                            img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                            |
                            img(src="assets/imgs/template/icons/star-gray.svg", alt="Flowedge")