section.section.mt-50
    .container
        .row.mt-50
           .col-xl-4.col-lg-3
                h3.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') See why we are
                    br.d-none.d-lg-block
                    | trusted the world over
           .col-xl-8.col-lg-9
            .row
                .col-lg-3.col-md-3.col-sm-6.col-6.text-lg-end.text-center.mb-20
                    h2.color-brand-1
                        span.counter 469
                        span K
                    p.font-lg.color-brand-1 Social followers
                .col-lg-3.col-md-3.col-sm-6.col-6.text-lg-end.text-center.mb-20
                    h2.color-brand-1
                        span.count 25
                        span K+
                    p.font-lg.color-brand-1 Happy Clients
                .col-lg-3.col-md-3.col-sm-6.col-6.text-lg-end.text-center.mb-20
                    h2.color-brand-1
                        span.count 756
                        span K
                    p.font-lg.color-brand-1 Project Done
                .col-lg-3.col-md-3.col-sm-6.col-6.text-lg-end.text-center.mb-20
                    h2.color-brand-1
                        span.count 120
                    p.font-lg.color-brand-1 Global branch

    .border-bottom.mt-70