section.section.mt-100
    .container
        .row
            .col-lg-12.text-center
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Career Opportunities
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') Explore our open roles for working totally remotely, from the
                    br.d-none.d-lg-block
                    | office or somewhere in between.

        .row.mt-50
            .col-lg-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                +cardWedo("assets/imgs/page/homepage4/offer1.png","Manage budgets and resources",'job-detail.html',"Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.")
            .col-lg-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +cardWedo("assets/imgs/page/homepage4/offer2.png","Employee Assessments",'job-detail.html',"What makes us different from others? We give holistic solutions with strategy, design & technology.")
            .col-lg-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                +cardWedo("assets/imgs/page/homepage4/offer3.png","Smart Installation Tools",'job-detail.html',"No lag time, no lost effort when prFlowedgeties change, no email black hole. As team collaboration improves")
            .col-lg-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +cardWedo("assets/imgs/page/homepage4/offer4.png","Collaborative to the core.",'job-detail.html',"Share updates instantly within our project management software, and get the entire team collaborating")
            .col-lg-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                +cardWedo("assets/imgs/page/homepage4/offer5.png","Manage budgets and resources",'job-detail.html',"Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.")
            .col-lg-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +cardWedo("assets/imgs/page/homepage4/offer6.png","Unlimited ways to work",'job-detail.html',"What makes us different from others? We give holistic solutions with strategy, design & technology.")

        .mt-40.mb-50.text-center.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
            a.btn.btn-brand-1.hover-up(href="contact.html") Contact Us
            a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')