section.section.mt-90
    .container
        .text-center
            h6.color-grey-500.mb-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Take a look at our current openings
            h2.color-brand-1.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') We’re Always Searching For
                br.d-none.d-lg-block
                | Amazing People to Join Our Team.
        .box-video.mt-70
            img(src="assets/imgs/page/career/img-video.png", alt="Flowedge")
            .image-1.shape-1
                img(src="assets/imgs/page/career/certify.png", alt="Flowedge")