section.section.mt-100
    .container
        .row
            .col-lg-12.text-center
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Why You Should Consider Applying
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') We're lively, not corporate. We have the energy and boldness of a startup and
                    br.d-none.d-lg-block
                    | the expertise and pragmatism of a scale-up. All in one place.

        .row.mt-65
            .col-lg-3.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                +cardCategory_2('assets/imgs/page/homepage1/free.svg', 'Connected', 'We come together wherever we are – across time zones, regions, offices and screens. You will receive support from your teammates anytime and anywhere.')
            .col-lg-3.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                +cardCategory_2('assets/imgs/page/homepage1/cross.png', 'Inclusive', 'Our teams reflect the rich diversity of our world, with equitable access to opportunity for everyone. No matter where you come from')
            .col-lg-3.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +cardCategory_2('assets/imgs/page/homepage2/identity.png', 'Flexible', 'We believe in your freedom to work when and how you work best, to help us all thrive. Only freedom and independent work can bring out the best in you.')
            .col-lg-3.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                +cardCategory_2('assets/imgs/page/career/persuasion.png', 'Persuasion', 'Knowing that there is real value to be gained from helping people to simplify whatever it is that they do and bring.')