section.section.mt-50.mb-30
    .container 
        .box-radius-border.box-radius-border-help
            .row.align-items-center 
                .col-xl-6.col-lg-6
                    img.d-block(src="assets/imgs/page/help/answer.png", alt="Flowedge")
                .col-xl-6.col-lg-6
                    .box-info-answer
                        span.btn.btn-tag More help
                        h2.color-brand-1.mt-10.mb-15 Can’t find an answer?
                        p.color-grey-500.font-md Make use of a qualified tutor to get the answer
                        .box-button.mt-30 
                            a.btn.btn-brand-1.hover-up(href='#') Ask a Question
                            a.btn.btn-default.font-sm-bold.hover-up(href='#') 
                                | Contact Us
                                svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')