section.section.mt-90
    .container
        .row.align-items-center
            .col-lg-5.mb-40
                span.title-line.line-48.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Support Center
                h2.color-brand-1.mt-15.mb-30.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') How can we help you?
                p.font-md.color-grey-500.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s') Search here to get answers to your questions
                .row
                    .col-lg-12
                        .box-notify-me.mt-15
                            .inner-notify-me
                                input.form-control(type="text", placeholder="Search the doc ..")
                                button.btn.btn-brand-1.font-md Search
                                    svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                .mt-45.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                    p.font-sm-bold.color-brand-1 Suggested Search:
                .mt-10.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                    a.btn.btn-tag-circle.mr-10.mb-10(href="#") guest users
                    a.btn.btn-tag-circle.mr-10.mb-10(href="#") create account
                    a.btn.btn-tag-circle.mr-10.mb-10(href="#") invoice
                    a.btn.btn-tag-circle.mb-10(href="#") security

            .col-lg-7.mb-40.d-none.d-md-block
                .box-banner-help
                    .box-cruelty.shape-1
                        img(src="assets/imgs/page/help/cruelty.png", alt="Flowedge")
                    .banner-img-1
                        img(src="assets/imgs/page/help/banner1.png", alt="Flowedge")
                    .banner-img-2
                        img(src="assets/imgs/page/help/banner2.png", alt="Flowedge")