section.section.mt-20.mb-40
    .container
        .row
            .col-lg-12.text-center
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') From Community Forums
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Updated on September 24, 2025
        .table-box-help.mt-50
            .table-responsive
                table.table.table-forum
                    thead
                        tr
                            th.width-50 Forum
                            th.width-16 Topics
                            th.width-16 Comments
                            th.width-18 Latest Post
                    tbody
                        tr
                            td
                                .item-forum
                                    .item-image
                                        img(src="assets/imgs/page/homepage1/cross5.png", alt="Flowedge")
                                    .item-info
                                        h4.color-brand-1.mb-15 Announcements
                                        p.font-md.color-grey-500 Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.
                            td 3
                            td 16
                            td
                                .box-author
                                    span
                                        img(src="assets/imgs/page/help/author.png", alt="Flowedge")
                                    .author-info
                                        span.font-lg.color-brand-1.author-name Steven Job
                                        span.font-sm.color-grey-500.department 16 mins ago
                        tr
                            td
                                .item-forum
                                    .item-image
                                        img(src="assets/imgs/page/homepage2/creation.png", alt="Flowedge")
                                    .item-info
                                        h4.color-brand-1.mb-15 User Feedback
                                        p.font-md.color-grey-500 Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.
                            td 3
                            td 16
                            td
                                .box-author
                                    span
                                        img(src="assets/imgs/page/help/author2.png", alt="Flowedge")
                                    .author-info
                                        span.font-lg.color-brand-1.author-name Steven Job
                                        span.font-sm.color-grey-500.department 16 mins ago
                        tr
                            td
                                .item-forum
                                    .item-image
                                        img(src="assets/imgs/page/homepage1/cross4.png", alt="Flowedge")
                                    .item-info
                                        h4.color-brand-1.mb-15 Technology support center
                                        p.font-md.color-grey-500 Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.
                            td 3
                            td 16
                            td
                                .box-author
                                    span
                                        img(src="assets/imgs/page/help/author3.png", alt="Flowedge")
                                    .author-info
                                        span.font-lg.color-brand-1.author-name Steven Job
                                        span.font-sm.color-grey-500.department 16 mins ago
                        tr
                            td
                                .item-forum
                                    .item-image
                                        img(src="assets/imgs/page/homepage1/cross2.png", alt="Flowedge")
                                    .item-info
                                        h4.color-brand-1.mb-15 Product Support
                                        p.font-md.color-grey-500 Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.
                            td 3
                            td 16
                            td
                                .box-author
                                    span
                                        img(src="assets/imgs/page/help/author4.png", alt="Flowedge")
                                    .author-info
                                        span.font-lg.color-brand-1.author-name Steven Job
                                        span.font-sm.color-grey-500.department 16 mins ago
                        tr
                            td
                                .item-forum
                                    .item-image
                                        img(src="assets/imgs/page/homepage3/certification.png", alt="Flowedge")
                                    .item-info
                                        h4.color-brand-1.mb-15 Market research
                                        p.font-md.color-grey-500 Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.
                            td 3
                            td 16
                            td
                                .box-author
                                    span
                                        img(src="assets/imgs/page/help/author5.png", alt="Flowedge")
                                    .author-info
                                        span.font-lg.color-brand-1.author-name Steven Job
                                        span.font-sm.color-grey-500.department 16 mins ago
                        tr
                            td
                                .item-forum
                                    .item-image
                                        img(src="assets/imgs/page/homepage2/identity.png", alt="Flowedge")
                                    .item-info
                                        h4.color-brand-1.mb-15 Strategic Consulting
                                        p.font-md.color-grey-500 Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.
                            td 3
                            td 16
                            td
                                .box-author
                                    span
                                        img(src="assets/imgs/page/help/author6.png", alt="Flowedge")
                                    .author-info
                                        span.font-lg.color-brand-1.author-name Steven Job
                                        span.font-sm.color-grey-500.department 16 mins ago
                        tr
                            td
                                .item-forum
                                    .item-image
                                        img(src="assets/imgs/page/homepage3/enterprise.png", alt="Flowedge")
                                    .item-info
                                        h4.color-brand-1.mb-15 Cognitive Solution
                                        p.font-md.color-grey-500 Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.
                            td 3
                            td 16
                            td
                                .box-author
                                    span
                                        img(src="assets/imgs/page/help/author7.png", alt="Flowedge")
                                    .author-info
                                        span.font-lg.color-brand-1.author-name Steven Job
                                        span.font-sm.color-grey-500.department 16 mins ago
