section.section.mt-40.pt-50.pb-15.bg-grey-80
    .container
        .box-swiper
                .swiper-container.swiper-group-3
                    .swiper-wrapper
                        .swiper-slide
                            +cardGuide('assets/imgs/page/help/icon1.svg', 'Knowledge Base', 'Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis a libero tempus')
                        .swiper-slide
                            +cardGuide('assets/imgs/page/help/icon2.svg', 'Community Forums', 'Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis a libero tempus')
                        .swiper-slide
                            +cardGuide('assets/imgs/page/help/icon3.svg', 'Documentation', 'Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis a libero tempus')