section.section.mt-100
    .container
        .row
            .col-lg-12.text-center
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Explore Topics
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Easily create Documentation, Knowledge-base, FAQ, Forum and more

        .mt-50
            .box-swiper.swiper-style-2
                .swiper-container.swiper-group-4
                    .swiper-wrapper
                        .swiper-slide
                            +cardOfferStyle3("assets/imgs/page/homepage1/cross.png","Getting Started","")
                                ul.list-dots.mb-10
                                    li.font-sm.color-grey-500.mb-5 Welcome to our platform
                                    li.font-sm.color-grey-500.mb-5 Writing posts with CMS
                                    li.font-sm.color-grey-500.mb-5 Publishing options
                                    li.font-sm.color-grey-500.mb-5 Managing admin settings
                                    li.font-sm.color-grey-500.mb-5 Create your content
                        .swiper-slide.head-bg-brand-2
                            +cardOfferStyle3("assets/imgs/page/homepage1/cross2.png","Strategic Consulting","")
                                ul.list-dots.mb-10
                                    li.font-sm.color-grey-500.mb-5 Welcome to our platform
                                    li.font-sm.color-grey-500.mb-5 Writing posts with CMS
                                    li.font-sm.color-grey-500.mb-5 Publishing options
                                    li.font-sm.color-grey-500.mb-5 Managing admin settings
                                    li.font-sm.color-grey-500.mb-5 Create your content
                        .swiper-slide.head-bg-2
                            +cardOfferStyle3("assets/imgs/page/homepage1/business.svg","Local Marketing","")
                                ul.list-dots.mb-10
                                    li.font-sm.color-grey-500.mb-5 Welcome to our platform
                                    li.font-sm.color-grey-500 Writing posts with CMS
                                    li.font-sm.color-grey-500.mb-5 Publishing options
                                    li.font-sm.color-grey-500.mb-5 Managing admin settings
                                    li.font-sm.color-grey-500.mb-5 Create your content
                        .swiper-slide.head-bg-5
                            +cardOfferStyle3("assets/imgs/page/homepage1/cross4.png","Cognitive Solution","")
                                ul.list-dots.mb-10
                                    li.font-sm.color-grey-500.mb-5 Welcome to our platform
                                    li.font-sm.color-grey-500.mb-5 Writing posts with CMS
                                    li.font-sm.color-grey-500.mb-5 Publishing options
                                    li.font-sm.color-grey-500.mb-5 Managing admin settings
                                    li.font-sm.color-grey-500.mb-5 Create your content

                .box-button-slider-bottom
                    .swiper-button-prev.swiper-button-prev-group-4
                        svg.w-6.h-6(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M10 19l-7-7m0 0l7-7m-7 7h18')
                    .swiper-button-next.swiper-button-next-group-4
                        svg.w-6.h-6(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')