section.section.mt-50
    .container
        .row.align-items-center
            .col-lg-7
                .mw-80
                    img.img-round-top(src="assets/imgs/page/homepage4/follower.png", alt="Flowedge")
                    .shape-1.image-4
                        img.img-round-top(src="assets/imgs/page/homepage2/certify.png", alt="Flowedge")
            .col-lg-5
                span.btn.btn-tag.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')  Branding
                h3.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeInUp Build your brand and reach out to social followers
                p.font-md.color-grey-400.wow.animate__animated.animate__fadeInUp Sharing content online allows you to craft an online persona that reflects your personal values and professional skills. Even if you only use social media occasionally, what you create, share or react to feeds into this public narrative. How you conduct yourself online is now just as important as your behavior offline especially when it comes to your digital marketing career.
                .mt-40.wow.animate__animated.animate__fadeInUp
                    ul.list-ticks
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Send & Schedule Posts
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Live Chat Request
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Push Notification
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Create fully integrated campaigns
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Online Visitors
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Directly send or schedule posts
                .mt-40.text-start.wow.animate__animated.animate__fadeInUp
                    a.btn.btn-brand-1.hover-up(href="#") Download App
                    a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                        svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')