section.section.mt-50.pt-50.pb-30
    .container
        .bg-brand-1.box-cover-video.box-cover-video-revert
            .row.align-items-center
                .col-xl-6.col-lg-6
                    .box-info-video
                        span.btn.btn-tag.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s').accordion-item Business
                        h3.color-brand-2.mt-10.mb-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s').accordion-item  Integrate with over 1,000 project management apps
                        p.font-md.color-white.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s').accordion-item  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.
                        .box-button-video.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s').accordion-item
                            a.btn.btn-play.font-sm-bold.popup-youtube.hover-up(href="https://www.youtube.com/watch?v=sVPYIRF9RCQ") Play Video
                .col-xl-6.col-lg-6
                    img.d-block(src="assets/imgs/page/homepage4/img-video.png", alt="Flowedge")