.row 
    .col-xl-4.col-lg-6.col-md-6
        .box-sale 
            span.color-danger.font-xs-bold.text-uppercase Sale off 50%
            h5.color-brand-1.mt-5.mb-5 Best Offer This Year
            p.font-xs.color-grey-500 Use discount code in checkout page.
            .mt-15 
                a.btn.btn-right-arrow(href="#") Shop Now
            .box-img-right 
                img(src='assets/imgs/page/shop/sale1.png', alt="Flowedge")
    .col-xl-4.col-lg-6.col-md-6 
        .box-sale.box-sale-left 
            span.color-success.font-xs-bold.text-uppercase Tripod Colection
            h5.color-brand-1.mt-5.mb-5 For Professional
            p.font-xs.color-grey-500 Use discount code in checkout page.
            .mt-15 
                a.btn.btn-right-arrow(href="#") Shop Now
            .box-img-left 
                img(src='assets/imgs/page/shop/sale2.png', alt="Flowedge")
    .col-xl-4.col-lg-12
        .box-sale 
            span.color-info.font-xs-bold.text-uppercase Hot deal
            h5.color-brand-1.mt-5.mb-5 Sale Off Digital Camera
            p.font-xs.color-grey-500 Use discount code in checkout page.
            .mt-15 
                a.btn.btn-right-arrow(href="#") Shop Now
            .box-img-right 
                img(src='assets/imgs/page/shop/sale3.png', alt="Flowedge")