.section.pt-40.content-term
    .box-bg-term
    .container 
        .breadcrumbs 
            ul 
                li 
                    a(href="#") 
                        svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6')
                        | Home
                li 
                    a(href="term-conditions.html") Terms and condition

        .content-main.mt-50
            .text-center
                h2.color-brand-1.mb-10 Terms and Condition
                p.font-lg.color-grey-500 Amet nulla facilisi morbi tempus iaculis urna
                .box-image-head.mt-50.mb-50 
                    img.bd-rd8(src="assets/imgs/page/term/img.png", alt="Flowedge")

            .row.mt-70 
                .col-lg-1.col-md-1
                .col-lg-2.col-md-3
                    h6.color-brand-1.mb-15 Table of contents
                    ul.list-terms 
                        li 
                            a(href="#limitation") Limitation of Liability
                        li 
                            a(href="#licensing") Licensing Policy
                        li 
                            a(href="#product") Product Compatibility
                        li 
                            a(href="#delivery") Delivery
                        li 
                            a(href="#ownership") Ownership
                        li 
                            a(href="#browser") Browser Compatibility
                        li 
                            a(href="#updates") Updates
                        li 
                            a(href="#support") Theme Support
                        li 
                            a(href="#price") Price Changes
                        li 
                            a(href="#refund") Refund Policy
                        li 
                            a(href="#email") Email & Newsletter
                        li 
                            a(href="#agreement") License Agreement
                        li 
                            a(href="#severability") Severability

                .col-lg-8.col-md-7
                    h4#limitation.color-brand-1.mb-20 Limitation of Liability
                    p.font-md.color-grey-500.mb-30 Under no circumstances shall Flowdev Teams be liable for any direct, indirect, special, incidental or consequential damages, including, but not limited to, loss of data or profit, arising out of the use, or the inability to use, the materials on this site, even if Flowdev Teams or an authorized representative has been advised of the possibility of such damages. If your use of materials from this site results in the need for servicing, repair or correction of equipment or data, you assume any costs thereof.
                    
                    h4#licensing.color-brand-1.mb-20 Licensing Policy
                    p.font-md.color-grey-500.mb-30 Flowdev Teams WordPress plugins and themes are released under the GNU General Public License v2 or later. Please refer to licensing policy page for licensing details.

                    h4#product.color-brand-1.mb-20 Product Compatibility
                    p.font-md.color-grey-500.mb-30 The products are developed to be compatible with the latest version of WordPress because we always strive to stay up-to-date with the latest version of WordPress. You might experience certain performance or functionality glitches with the products if you use any version prior to that.

                    h4#delivery.color-brand-1.mb-20 Delivery
                    p.font-md.color-grey-500.mb-30 Your purchased product(s) information will be emailed to the email address (that you will provide) once we receive your payment. Even though this usually takes a few minutes, it may also take up to 24 hours. You can contact us through our contact page if you do not receive your email after waiting for this time period. You will also have access to your purchased products from your account in Flowdev Teams after logging in.

                    h4#ownership.color-brand-1.mb-20 Ownership
                    p.font-md.color-grey-500.mb-30 All the products are the property of Flowdev Teams. So you may not claim ownership (intellectual or exclusive) over any of our products, modified or unmodified. Our products come ‘as is’, without any kind of warranty, either expressed or implied. Under no circumstances can our juridical person be accountable for any damages including, but not limited to, direct, indirect, special, incidental or consequential damages or other losses originating from the employment of or incapacity to use our products.

                    h4#browser.color-brand-1.mb-20 Browser Compatibility
                    p.font-md.color-grey-500.mb-30 We consider it our duty to offer a great experience across most major browsers, which is why our products support the latest modern web browsers including (but not limited to) Firefox, Safari, Chrome & Internet Explorer 9+. However, the performance may vary between different browsers, versions, and operating systems.

                    h4#updates.color-brand-1.mb-20 Updates
                    p.font-md.color-grey-500.mb-30 Our themes are constantly updated to be compatible with the latest stable version of WordPress. Please ensure that you always use the most current version of our themes.

                    h4#support.color-brand-1.mb-20 Theme Support
                    p.font-md.color-grey-500.mb-30 Please refer to Help and Support Policy page for details.

                    h4#price.color-brand-1.mb-20 Price Changes
                    p.font-md.color-grey-500.mb-30 Flowdev Teams reserves the right to modify or suspend (temporarily or permanently) a subscription at any point of time and from time to time with or without any notice.

                    h4#refund.color-brand-1.mb-20 Refund Policy
                    p.font-md.color-grey-500.mb-30 Please refer to Refund Policy page for details.

                    h4#email.color-brand-1.mb-20 Email & Newsletter
                    p.font-md.color-grey-500.mb-30 Flowdev Teams may occasionally send you emails related to the purchase of product(s) from our company. We may also send you occasional email newsletters relating to Flowdev Teams updates and promotions. We will never sell or release your email to any third party vendors. You may opt out of these emails at any time without penalty.

                    h4#agreement.color-brand-1.mb-20 License Agreement
                    p.font-md.color-grey-500.mb-30 By purchasing our product(s), you indicate and consent that you have read and agree to the Terms & Conditions listed and detailed on this page. We reserve the right to change or modify the current Terms and Conditions without prior notice or consent.

                    h4#severability.color-brand-1.mb-20 Severability
                    p.font-md.color-grey-500.mb-30 If any part of this agreement is declared unenforceable or invalid, all remaining clauses in this agreement shall remain binding on the customer.