section.section.bg-7.box-banner-shop-grid
    .container
        .banner-shop-grid
            span.font-xl-bold.color-grey-300.text-uppercase.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') camera collection
            h2.color-brand-1.mt-15.mb-60.font-bold-800.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Ready to capture every
                br.d-none.d-lg-block
                | wonderful moment
            ul.list-categories
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                    a.btn.btn-white-circle.active(href="#") Digital Cameras
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                    a.btn.btn-white-circle(href="#") Mirrorless Camera
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                    a.btn.btn-white-circle(href="#") Camera Flashes
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                    a.btn.btn-white-circle(href="#") Travel Camera
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                    a.btn.btn-white-circle(href="#") Instant Camera
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.5s')
                    a.btn.btn-white-circle(href="#") Accessories