section.section.banner-11
    .box-banner-home11
        .box-swiper
            .swiper-container.swiper-group-1
                .swiper-wrapper
                    .swiper-slide
                        .banner-slide-11(style="background-image:url(assets/imgs/page/homepage11/hero-1.png)")
                            .banner-abs
                                .container
                                    .row
                                        .col-xl-5.col-lg-6.col-md-8.col-sm-10.col-12
                                            .box-info-banner11
                                                h2.color-brand-1.mb-30.wow.animate__animated.animate__fadeInUp Bring your target users together on social media
                                                p.color-grey-500.font-sm.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') Duis justo nulla, pulvinar at dolor dapibus, finibus cursus massa. Praesent quam diam, faucibus tristique enim in, rhoncus aliquam lorem. Vestibulum vestibulum pellentesque nunc sit amet ullamcorper. Praesent ligula felis
                                                .mt-30.d-flex.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                                                    img.w-50.mr-10(src="assets/imgs/template/appstore.png", alt="Flowedge")
                                                    img.w-50(src="assets/imgs/template/google-play.png", alt="Flowedge")
                    .swiper-slide
                        .banner-slide-11(style="background-image:url(assets/imgs/page/homepage11/hero-2.png)")
                            .banner-abs
                                .container
                                    .row
                                        .col-xl-5.col-lg-6.col-md-8.col-sm-10.col-12
                                            .box-info-banner11
                                                h2.color-brand-1.mb-30 Let's make something great together.
                                                p.color-grey-500.font-sm Duis justo nulla, pulvinar at dolor dapibus, finibus cursus massa. Praesent quam diam, faucibus tristique enim in, rhoncus aliquam lorem. Vestibulum vestibulum pellentesque nunc sit amet ullamcorper. Praesent ligula felis
                                                .mt-30.d-flex
                                                    img.w-50.mr-10(src="assets/imgs/template/appstore.png", alt="Flowedge")
                                                    img.w-50(src="assets/imgs/template/google-play.png", alt="Flowedge")
                    .swiper-slide
                        .banner-slide-11(style="background-image:url(assets/imgs/page/homepage11/hero-3.png)")
                            .banner-abs
                                .container
                                    .row
                                        .col-xl-5.col-lg-6.col-md-8.col-sm-10.col-12
                                            .box-info-banner11
                                                h2.color-brand-1.mb-30 Use flexible components to build an app quickly
                                                p.color-grey-500.font-sm Duis justo nulla, pulvinar at dolor dapibus, finibus cursus massa. Praesent quam diam, faucibus tristique enim in, rhoncus aliquam lorem. Vestibulum vestibulum pellentesque nunc sit amet ullamcorper. Praesent ligula felis
                                                .mt-30.d-flex
                                                    img.w-50.mr-10(src="assets/imgs/template/appstore.png", alt="Flowedge")
                                                    img.w-50(src="assets/imgs/template/google-play.png", alt="Flowedge")
                    .swiper-slide
                        .banner-slide-11(style="background-image:url(assets/imgs/page/homepage11/hero-5.png)")
                            .banner-abs
                                .container
                                    .row
                                        .col-xl-5.col-lg-6.col-md-8.col-sm-10.col-12
                                            .box-info-banner11
                                                h2.color-brand-1.mb-30 Flex will remind you when to complete a task
                                                p.color-grey-500.font-sm Duis justo nulla, pulvinar at dolor dapibus, finibus cursus massa. Praesent quam diam, faucibus tristique enim in, rhoncus aliquam lorem. Vestibulum vestibulum pellentesque nunc sit amet ullamcorper. Praesent ligula felis
                                                .mt-30.d-flex
                                                    img.w-50.mr-10(src="assets/imgs/template/appstore.png", alt="Flowedge")
                                                    img.w-50(src="assets/imgs/template/google-play.png", alt="Flowedge")

        .swiper-pagination.swiper-pagination-group-11