.section.mt-30
    .container
        .mt-30
            ul.list-partners.list-partners-6
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                    img(src="assets/imgs/page/homepage1/placed.png", alt="Flowedge")
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                    img(src="assets/imgs/page/homepage1/cuebiq.png", alt="Flowedge")
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                    img(src="assets/imgs/page/homepage1/factual.png", alt="Flowedge")
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                    img(src="assets/imgs/page/homepage1/placeiq.png", alt="Flowedge")
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.5s')
                    img(src="assets/imgs/page/homepage1/airmeet.png", alt="Flowedge")
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.6s')
                    img(src="assets/imgs/page/homepage1/spen.png", alt="Flowedge")