section.section.bg-brand-1.box-why-trusted-11
    .container
        .row
           .col-xl-5.col-lg-5.mb-30
                .rating
                    img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                    |
                    img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                    |
                    img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                    |
                    img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                    |
                    img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                h2.color-white.mb-5 See why we are
                    br.d-none.d-lg-block
                    | trusted the
                    br.d-none.d-lg-block
                    | world over

           .col-xl-7.col-lg-7.mb-30
                p.font-sm.color-white.mb-20 Et quaerat deserunt et numquam voluptatem et laborum consectetur non consequatur temporibus ea repellat nihil vel consectetur dolores et rerum voluptas. Nam voluptas reiciendis non laborum perspiciatis eum omnis cumque ab impedit earum ex quos porro sit dolorem cupiditate ut ducimus autem.
                .row
                    .col-lg-3.col-md-3.col-sm-3.col-6.mt-20
                        h2.color-white
                            span.count 469
                            span k
                        p.font-lg.color-white Social followers
                    .col-lg-3.col-md-3.col-sm-3.col-6.mt-20
                        h2.color-white
                            span.count 25
                            span k+
                        p.font-lg.color-white Happy Clients
                    .col-lg-3.col-md-3.col-sm-3.col-6.mt-20
                        h2.color-white
                            span.count 756
                            span +
                        p.font-lg.color-white Project Done
                    .col-lg-3.col-md-3.col-sm-3.col-6.mt-20
                        h2.color-white
                            span.count 100
                            span +
                        p.font-lg.color-white Global branch
