section.section.banner-contact
    .container
        .banner-1
            .row.align-items-center
                .col-lg-7
                    span.title-line.line-48.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Get in Touch
                    h1.color-brand-1.mb-20.mt-10.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') We’d love to hear
                        br.d-none.d-lg-block
                        | from you.
                    .row
                        .col-lg-9
                            p.font-md.color-grey-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s') Request a demo, ask a question, or get in touch here. If you’re interested in working at Flowedge Coporation, check out our
                                a.ml-3(href="career.html")
                                    |  careers page.

                    .mt-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.6s')
                        h5.color-brand-1 Install App
                    .box-button.mt-20
                        a.btn-app.mb-15.hover-up(href='#')
                            img(src="assets/imgs/template/appstore-btn.png", alt="Flowedge")
                        a.btn-app.mb-15.hover-up(href='#')
                            img(src="assets/imgs/template/google-play-btn.png", alt="Flowedge")
                        a.btn.btn-default.mb-15.pl-10.font-sm-bold.hover-up(href='#')
                            | Learn More
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                .col-lg-5.d-none.d-lg-block
                    .box-banner-contact
                        img(src="assets/imgs/page/contact/banner.png", alt="Flowedge")