section.section.mt-100
    .container
        .row
            .col-lg-3.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                +cardContactInfo('assets/imgs/page/contact/headphone.png', 'Help & support')
                    p.font-xs.color-grey-500 Email
                        a.color-success(href="mailto:support@Flowdev Teams.com") support@Flowdev Teams.com
                        br
                        | For help with a current product or service or refer to FAQs and developer tools

            .col-lg-3.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                +cardContactInfo('assets/imgs/page/contact/phone.png', 'Call Us')
                    p.font-xs.color-grey-500
                        | Call us to speak to a member of our team.
                        br
                        | (+01) 234 567 89
                        br
                        | (+01) 456 789 21
            .col-lg-3.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +cardContactInfo('assets/imgs/page/contact/chart.png', 'Bussiness Department')
                    p.font-xs.color-grey-500
                        | Contact the sales department about cooperation projects
                        br
                        | (+01) 789 456 23

            .col-lg-3.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                +cardContactInfo('assets/imgs/page/contact/earth.png', 'Global branch')
                    p.font-xs.color-grey-500
                        | Contact us to open our branches globally.
                        br
                        | (+01) 234 567 89
                        br
                        | (+01) 456 789 23