section.section.banner-10
    .box-banner-home10
        .container.position-relative
            .row.align-items-center
                .col-lg-6.mb-30
                    h1.color-brand-1.mb-50.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') We Are
                        br.d-none.d-lg-block
                        | Leading Digital
                        br.d-none.d-lg-block
                        | University
                    p.font-md.color-grey-500.mb-40.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                        | Enable highly motivating non-cash micropayments and offer
                        br.d-none.d-lg-block
                        | in-demand prepaid solutions – with a single connection.
                    .box-button.mb-50.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s')
                        a.btn.btn-brand-1.hover-up(href='#') Download App
                        a.btn.btn-default.font-sm-bold.hover-up(href='#')
                            | Learn More
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                    .box-count-number
                        .row
                            .col-lg-3.col-md-3.col-sm-6.col-6.text-start.mb-20
                                h3.color-brand-1
                                    span.count 469
                                    span k
                                p.font-lg.color-brand-1 Social followers
                            .col-lg-3.col-md-3.col-sm-6.col-6.text-start.mb-20
                                h3.color-brand-1
                                    span.count 25
                                    span k+
                                p.font-lg.color-brand-1 Happy Clients
                            .col-lg-3.col-md-3.col-sm-6.col-6.text-start.mb-20
                                h3.color-brand-1
                                    span.count 756
                                    span +
                                p.font-lg.color-brand-1 Project Done
                            .col-lg-3.col-md-3.col-sm-6.col-6.text-start.mb-20
                                h3.color-brand-1
                                    span.count 100
                                    span +
                                p.font-lg.color-brand-1 Global branch

                .col-lg-6.mb-30
                    .text-center.wow.animate__animated.animate__fadeIn
                        img(src="assets/imgs/page/homepage10/banner.png", alt="Flowedge")