section.section.mt-50.mb-50.bg-brand-1.pt-100.pb-100.bg-explore
    .container
        .text-center
            span.font-xl-bold.color-white.text-uppercase.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') explore network
            h2.color-brand-2.mb-60.mt-15.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Ready to capture every
                br.d-none.d-lg-block
                | wonderful moment
        .mt-30.mb-60
            ul.list-buttons.list-buttons-circle.nav.nav-tabs(role='tablist')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                    a.active(href='#tab-explore-1', data-bs-toggle='tab', role='tab', aria-controls='tab-explore-1', aria-selected='true') Digital Cameras
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                    a(href='#tab-explore-2', data-bs-toggle='tab', role='tab', aria-controls='tab-explore-2', aria-selected='true') Mirrorless Camera
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                    a(href='#tab-explore-3', data-bs-toggle='tab', role='tab', aria-controls='tab-explore-3', aria-selected='true') Camera Flashes
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.5s')
                    a(href='#tab-explore-4', data-bs-toggle='tab', role='tab', aria-controls='tab-explore-4', aria-selected='true') Travel Camera
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.6s')
                    a(href='#tab-explore-5', data-bs-toggle='tab', role='tab', aria-controls='tab-explore-5', aria-selected='true') Instant Camera
            .tab-content.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                #tab-explore-1.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='tab-explore-1')
                    +gridTab('assets/imgs/page/homepage10/img-tab.png', 'Business', 'Integrate with over 1,000 project management apps', 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.')
                #tab-explore-2.tab-pane.fade(role='tabpanel', aria-labelledby='tab-explore-2')
                    +gridTab('assets/imgs/page/blog2/img1.png', 'Business', 'Integrate with over 1,000 project management apps', 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.')
                #tab-explore-3.tab-pane.fade(role='tabpanel', aria-labelledby='tab-explore-3')
                    +gridTab('assets/imgs/page/homepage10/img-tab.png', 'Business', 'Integrate with over 1,000 project management apps', 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.')
                #tab-explore-4.tab-pane.fade(role='tabpanel', aria-labelledby='tab-explore-4')
                    +gridTab('assets/imgs/page/blog2/img1.png', 'Business', 'Integrate with over 1,000 project management apps', 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.')
                #tab-explore-5.tab-pane.fade(role='tabpanel', aria-labelledby='tab-explore-5')
                    +gridTab('assets/imgs/page/homepage10/img-tab.png', 'Business', 'Integrate with over 1,000 project management apps', 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.')