extends ../layouts/master.pug

block title
    title 404 - Multipurpose Startup & SaaS Template

block header
    include ../components/header-3.pug

block content
    include ../sections/404/content.pug
    include ../sections/contact/contact-info.pug
    .d-inline-block.mb-30
    include ../sections/homepage3/logos.pug
    include ../sections/newsletter-2.pug

block footer
    include ../components/footer.pug

block scripts-custom
