extends ../layouts/master.pug

block title
  title Comming soon - Multipurpose Startup & SaaS Template

block header
  include ../components/header-4.pug

block mobile
    include ../components/mobile-menu-2.pug

block content
  include ../sections/coming/content.pug
  include ../sections/contact/contact-info.pug

block footer
  include ../components/footer-3.pug

block scripts-custom
