extends ../layouts/master.pug

block title
  title Contact - Multipurpose Startup & SaaS Template

block header
  include ../components/header-3.pug

block content
  include ../sections/contact/banner.pug
  include ../sections/contact/contact-info.pug
  include ../sections/contact/form-contact.pug
  .no-bg-faqs
    include ../sections/homepage1/faqs.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
