extends ../layouts/master.pug

block title
  title Help Center - Multipurpose Startup & SaaS Template

block header
  include ../components/header-3.pug

block content
  include ../sections/help/banner.pug
  include ../sections/help/guide.pug
  include ../sections/help/topics.pug
  include ../sections/help/forum.pug
  include ../sections/help/answer.pug
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
