extends ../layouts/master.pug

block title
  title Homepage 9 - Multipurpose Startup & SaaS Template

block header
  include ../components/header.pug

block content
  include ../sections/homepage9/banner.pug
  include ../sections/homepage9/human.pug
  include ../sections/homepage2/social-media.pug
  include ../sections/homepage9/logos.pug
  include ../sections/homepage9/start-free.pug
  include ../sections/homepage9/faqs.pug
  include ../sections/help/guide.pug
  .mt-50
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
