extends ../layouts/master.pug

block title
  title Homepage 7 - Multipurpose Startup & SaaS Template

block header
  include ../components/header-7.pug

block content
  include ../sections/homepage7/banner.pug
  include ../sections/homepage7/why-trusted.pug
  include ../sections/homepage7/financial.pug
  include ../sections/homepage7/business.pug
  include ../sections/homepage7/payment.pug
  include ../sections/team/our-team.pug
  include ../sections/homepage7/choose-plan.pug
  include ../sections/homepage7/review.pug
  .mt-50
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
