extends ../layouts/master.pug

block title
  title Flowedge - Multipurpose Startup SaaS HTML Template

block header
  include ../components/header.pug

block content
  include ../sections/homepage1/banner.pug
  include ../sections/homepage1/logos.pug
  include ../sections/homepage1/offer.pug
  include ../sections/homepage1/video.pug
  include ../sections/homepage1/choose-plan.pug
  include ../sections/homepage1/faqs.pug
  include ../sections/homepage1/projects.pug
  include ../sections/homepage1/testimonial.pug
  include ../sections/homepage1/our-blog.pug
  include ../sections/newsletter.pug

block footer
  //- Footer
  include ../components/footer.pug

block scripts-custom
