extends ../layouts/master.pug

block title
  title Homepage 4 - Multipurpose Startup & SaaS Template

block header
  include ../components/header-3.pug

block content
  include ../sections/homepage4/banner.pug
  include ../sections/homepage4/logos.pug
  include ../sections/homepage4/followers.pug
  include ../sections/homepage3/why-choose-us.pug
  include ../sections/homepage4/offer.pug
  include ../sections/homepage1/choose-plan.pug
  include ../sections/homepage4/faqs.pug
  include ../sections/homepage4/video.pug
  include ../sections/homepage2/testimonials.pug
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
