extends ../layouts/master.pug

block title
  title Homepage 2 - Multipurpose Startup & SaaS Template

block header
  include ../components/header-2.pug

block content
  include ../sections/homepage2/banner.pug
  include ../sections/homepage2/logos.pug
  include ../sections/homepage2/social-media.pug
  include ../sections/homepage2/what-we-do.pug
  include ../sections/homepage2/how-to-start.pug
  include ../sections/homepage2/why-choose-us.pug
  include ../sections/homepage2/choose-plan.pug
  include ../sections/homepage2/testimonials.pug
  include ../sections/homepage2/marketing.pug
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter.pug

block footer
  //- Footer
  include ../components/footer.pug

block scripts-custom
