extends ../layouts/master.pug

block title
  title Homepage 10 - Multipurpose Startup & SaaS Template

block header
  include ../components/header.pug

block content
  include ../sections/homepage10/banner.pug
  include ../sections/homepage10/explore-network.pug
  include ../sections/homepage5/logos.pug
  .border-bottom.mt-50
  include ../sections/homepage10/branding.pug
  include ../sections/homepage10/choose-plan.pug
  include ../sections/homepage2/testimonials.pug
  include ../sections/homepage1/video.pug
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter.pug

block footer
  include ../components/footer.pug

block scripts-custom
