extends ../layouts/master.pug

block title
  title Homepage 3 - Multipurpose Startup & SaaS Template

block header
  include ../components/header-3.pug

block content
  include ../sections/homepage3/banner.pug
  include ../sections/homepage3/logos.pug
  include ../sections/homepage3/what-we-do.pug
  include ../sections/homepage3/why-choose-us.pug
  include ../sections/homepage3/how-it-work.pug
  include ../sections/homepage3/business.pug
  include ../sections/homepage3/create-account.pug
  include ../sections/homepage3/choose-plan.pug
  include ../sections/homepage3/testimonials.pug
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer-2.pug

block scripts-custom
