extends ../layouts/master.pug

block title
  title Homepage 8 - Multipurpose Startup & SaaS Template

block header
  include ../components/header-2.pug

block content
  include ../sections/homepage8/banner.pug
  include ../sections/homepage8/our-app.pug
  .mt-100
  include ../sections/homepage2/logos.pug
  include ../sections/homepage8/our-app-2.pug
  include ../sections/homepage8/become-one.pug
  include ../sections/homepage8/why-install.pug
  include ../sections/homepage8/testimonials.pug
  .mt-50
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
