extends ../layouts/master.pug

block title
  title Homepage 6 - Multipurpose Startup & SaaS Template

block header
  include ../components/header-6.pug

block content
  include ../sections/homepage6/banner.pug
  include ../sections/homepage6/logos.pug
  include ../sections/homepage6/human.pug
  include ../sections/service/offer.pug
  include ../sections/homepage1/choose-plan.pug
  include ../sections/homepage2/marketing.pug
  include ../sections/homepage6/faqs.pug
  include ../sections/help/guide.pug
  .mt-50
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
