extends ../layouts/master.pug

block title
  title Job Detail - Multipurpose Startup & SaaS Template

block header
  include ../components/header-3.pug

block content
  include ../sections/job/detail.pug
  include ../sections/job/more-job.pug
  include ../sections/homepage2/why-choose-us.pug
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
