extends ../layouts/master.pug

block title
  title Product Detail - Multipurpose Startup & SaaS Template

block header
  include ../components/header-3.pug

block content
  include ../sections/product-detail/breadcrumb.pug
  include ../sections/product-detail/banner.pug
  include ../sections/product-detail/collections.pug
  include ../sections/product-detail/video.pug
  include ../sections/homepage3/why-choose-us.pug
  include ../sections/product-detail/info.pug
  include ../sections/product-detail/delivery-payment.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
