extends ../layouts/master.pug

block title
  title Shop List - Multipurpose Startup & SaaS Template

block header
  include ../components/header-3.pug

block content
  include ../sections/shop-list/banner.pug
  include ../sections/shop-list/area-sale.pug
  include ../sections/shop-list/latest-product.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
