extends ../layouts/master.pug

block title
  title Shop Grid - Multipurpose Startup & SaaS Template

block header
  include ../components/header-3.pug

block content
  include ../sections/shop-grid/banner.pug
  include ../sections/shop-grid/content-shop.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
