extends ../layouts/master.pug

block title
  title Team - Multipurpose Startup & SaaS Template

block header
  include ../components/header-3.pug

block content
  include ../sections/team/banner.pug
  include ../sections/homepage3/logos.pug
  include ../sections/team/our-team.pug
  include ../sections/team/member.pug
  include ../sections/team/question.pug

  include ../sections/team/core-value.pug
  include ../sections/homepage2/our-blog.pug
  include ../sections/newsletter-2.pug

block footer
  include ../components/footer.pug

block scripts-custom
