section.section
    .container
        .banner-1
            .row.align-items-center
                .col-lg-7
                    h1.color-brand-1.mb-20.text-anim
                        | The data layer between your
                        span.line-under
                            span
                                |  business
                        |  and its potential.
                    .row
                        .col-lg-9.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                            p.font-md.color-grey-500.mb-30
                                | Optimize write performance with a document data model that maps to your application’s access patterns. Meet a wide range of query requirements via a single query API that supports everything from simple lookups to complex processing pipelines for data analytics and transformations.
                    .box-button.mt-30.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s')
                        a.btn.btn-brand-1.hover-up(href='#') Download App
                        a.btn.btn-default.font-sm-bold.hover-up(href='#')
                            | Learn More
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                .col-lg-5.d-none.d-lg-block.wow.animate__animated.animate__fadeIn
                    object(data='assets/imgs/page/homepage1/hero-banner.svg' type='image/svg+xml')