section.section.pt-80.mb-30.bg-faqs
    .container
        .row.align-items-end
            .col-lg-8.col-md-8
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Frequently asked questions
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Feeling inquisitive? Have a read through some of our FAQs or
                    br.d-none.d-lg-block
                    |  contact our supporters for help
            .col-lg-4.col-md-4.text-md-end.text-start.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s')
                a.btn.btn-default.font-sm-bold.pl-0 Contact Us
                    svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
        .row.mt-50.mb-100
            .col-xl-3.col-lg-4
                ul.list-faqs.nav.nav-tabs(role='tablist')
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                        a.active(href='#tab-support', data-bs-toggle='tab', role='tab', aria-controls='tab-support', aria-selected='true')
                            span General Support
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                        a(href='#tab-order', data-bs-toggle='tab', role='tab', aria-controls='tab-order', aria-selected='true')
                            span Order / Purchase
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                        a(href='#tab-download', data-bs-toggle='tab', role='tab', aria-controls='tab-download', aria-selected='true')
                            span Download / Install
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                        a(href='#tab-technology', data-bs-toggle='tab', role='tab', aria-controls='tab-technology', aria-selected='true')
                            span Technology
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                        a(href='#tab-account', data-bs-toggle='tab', role='tab', aria-controls='tab-account', aria-selected='true')
                            span Your Account
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                .mt-80.text-start.mb-40.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                    a.btn.btn-brand-1.hover-up(href="#") Contact Us
                    a.btn.btn-default.font-sm-bold.hover-up(href="#") Support Center
                        svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
            .col-xl-9.col-lg-8
                .tab-content.tab-content-slider
                    #tab-support.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='tab-support')
                        #accordionFAQ.accordion
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingOne.accordion-header
                                    button.accordion-button.text-heading-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Where is my order? Quisque molestie
                                #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Vel tenetur officiis ab reiciendis dolor aut quae doloremque est ipsum natus et consequatur animi aut sunt dolores ut quasi rerum. Aut velit velit id quasi velit eum reiciendis laudantium quo galisum incidunt aut velit animi hic temporibus blanditiis sit odit iure. Eum laborum dolores ea molestias fuga qui temporibus accusantium qui soluta aliquid ab vero soluta.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingTwo.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo') How can I return an item purchased online?
                                #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingThree.accordion-header
                                    button.accordion-button.text-heading-5.collapsed.text-heading-5(class='type=', data-bs-toggle='collapse', data-bs-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree') Can I cancel or change my order?
                                #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Aut architecto consequatur sit error nemo sed dolorum suscipit 33 impedit dignissimos ut velit blanditiis qui quos magni id dolore dignissimos. Sit ipsa consectetur et sint harum et dicta consequuntur id cupiditate perferendis qui quisquam enim. Vel autem illo id error excepturi est dolorum voluptas qui maxime consequatur et culpa quibusdam in iusto vero sit amet Quis.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingFour.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour') I have promotional or discount code?
                                #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Eos nostrum aperiam ab enim quas sit voluptate fuga. Ea aperiam voluptas a accusantium similique 33 alias sapiente non vitae repellat et dolorum omnis eos beatae praesentium id sunt corporis. Aut nisi blanditiis aut corrupti quae et accusantium doloribus sed tempore libero a dolorum beatae.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingFive.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive') What are the delivery types you use?
                                #collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Et beatae quae ex minima porro aut nihil quia sed optio dignissimos et voluptates deleniti et nesciunt veritatis et suscipit quod. Est sint voluptate id unde nesciunt non deleniti debitis. Ut dolores tempore vel placeat nemo quo enim reprehenderit eos corrupti maiores et minima quaerat. Quo sequi eaque eum similique sint et autem perspiciatis cum Quis exercitationem quo quos excepturi non ducimus ducimus eos natus velit.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingSix.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix') How can I pay for my purchases?
                                #collapseSix.accordion-collapse.collapse(aria-labelledby='headingSix', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Qui quas itaque ut molestias culpa vel culpa voluptas eos fugit sint ex veritatis totam cum unde maxime! Qui eius fugiat qui veritatis cumque a nesciunt nemo. Id numquam rerum est molestiae quia ut nisi architecto a officiis itaque eum quod repellat ut dolorem dolorem aut ipsam ipsa.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingSeven.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven') Can I cancel my order?
                                #collapseSeven.accordion-collapse.collapse(aria-labelledby='headingSeven', data-bs-parent='#accordionFAQ')
                                    .accordion-body
                                        | Sed assumenda minus est omnis internos nam corrupti eius non perferendis vero. Est ratione dolor ab veniam quas ex praesentium consequatur ut vero rerum est impedit nihil vel Quis consequatur ut vero sapiente. Ut optio ipsum ad temporibus voluptates et alias numquam eos reiciendis voluptatum. Id omnis modi est vero adipisci qui omnis ipsum rem necessitatibus perspiciatis aut modi iste ab dolores sequi.

                    #tab-order.tab-pane.fade(role='tabpanel', aria-labelledby='tab-order')
                        #accordionFAQ2.accordion
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingOne-1.accordion-header
                                    button.accordion-button.text-heading-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne-1', aria-expanded='true', aria-controls='collapseOne-1') Where is my order? Quisque molestie
                                #collapseOne-1.accordion-collapse.collapse.show(aria-labelledby='headingOne-1', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingTwo-1.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo-1', aria-expanded='false', aria-controls='collapseTwo-1') How can I return an item purchased online?
                                #collapseTwo-1.accordion-collapse.collapse(aria-labelledby='headingTwo-1', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | In debitis minus sit doloribus consectetur vel voluptates rerum. Et facere dolor qui voluptas fuga et asperiores eveniet! Et voluptatem voluptates et earum consequatur in porro molestias id omnis Quis qui consequatur laborum. Vel dolor odit in nesciunt sint aut quia excepturi id expedita voluptatem ea repellat voluptates?
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingThree-1.accordion-header
                                    button.accordion-button.text-heading-5.collapsed.text-heading-5(class='type=', data-bs-toggle='collapse', data-bs-target='#collapseThree-1', aria-expanded='false', aria-controls='collapseThree-1') Can I cancel or change my order?
                                #collapseThree-1.accordion-collapse.collapse(aria-labelledby='headingThree-1', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | In repellendus ratione ut tempora nesciunt est veniam esse qui optio fugiat non dignissimos distinctio non excepturi eius. Id aperiam corporis et galisum earum cum sint minima? Et harum nulla sit voluptate odio qui animi nulla et temporibus fuga ut atque modi quo eveniet perferendis et deserunt rerum?
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingFour-1.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour-1', aria-expanded='false', aria-controls='collapseFour-1') I have promotional or discount code?
                                #collapseFour-1.accordion-collapse.collapse(aria-labelledby='headingFour-1', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Ab necessitatibus quis ut vero voluptates qui voluptatibus minus 33 temporibus dolore et expedita adipisci et minus rerum. Sed repellat molestiae quo omnis minus qui culpa fuga quo minima molestiae et veniam necessitatibus ut placeat dolore est tempora quia? Ut Quis nemo et minus voluptatem ex dolorem voluptates est eius harum ut aliquam voluptatem aut culpa dolorem sed itaque molestiae. Cum doloribus quia et neque quam ad repellat nesciunt.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingFive-1.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive-1', aria-expanded='false', aria-controls='collapseFive-1') What are the delivery types you use?
                                #collapseFive-1.accordion-collapse.collapse(aria-labelledby='headingFive-1', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingSix-1.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSix-1', aria-expanded='false', aria-controls='collapseSix-1') How can I pay for my purchases?
                                #collapseSix-1.accordion-collapse.collapse(aria-labelledby='headingSix-1', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Est quisquam fugit ut nemo repellat ab distinctio dolores eos nulla dolor ea ipsa deleniti. In odit corrupti id fugiat omnis rem voluptatem recusandae ut atque odit ut adipisci laudantium ea dolor illo! Et officiis officiis sit accusantium sint ex beatae error eos dolorum rerum. Id doloribus doloribus et possimus corrupti est nostrum laudantium non nihil rerum id alias nisi! Est laudantium itaque quo galisum vitae qui debitis dignissimos aut illum nihil.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingSeven-1.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSeven-1', aria-expanded='false', aria-controls='collapseSeven-1') Can I cancel my order?
                                #collapseSeven-1.accordion-collapse.collapse(aria-labelledby='headingSeven-1', data-bs-parent='#accordionFAQ2')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.

                    #tab-download.tab-pane.fade(role='tabpanel', aria-labelledby='tab-download')
                        #accordionFAQ3.accordion
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingOne-2.accordion-header
                                    button.accordion-button.text-heading-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne-2', aria-expanded='true', aria-controls='collapseOne-2') Where is my order? Quisque molestie
                                #collapseOne-2.accordion-collapse.collapse.show(aria-labelledby='headingOne-2', data-bs-parent='#accordionFAQ3')
                                    .accordion-body
                                        | Sed modi suscipit sit ducimus beatae qui expedita nihil ea ullam voluptates est voluptatem cumque et repellendus culpa. Et quasi necessitatibus aut doloribus magnam qui veritatis fugiat quo velit nulla ut error nesciunt ex omnis beatae. Est nemo illo ut doloribus excepturi qui galisum consectetur cum commodi tempora et obcaecati doloremque. Qui animi ipsum vel inventore nulla eum voluptate modi et incidunt rerum.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingTwo-2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo-2', aria-expanded='false', aria-controls='collapseTwo-2') How can I return an item purchased online?
                                #collapseTwo-2.accordion-collapse.collapse(aria-labelledby='headingTwo-2', data-bs-parent='#accordionFAQ3')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingThree-2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed.text-heading-5(class='type=', data-bs-toggle='collapse', data-bs-target='#collapseThree-2', aria-expanded='false', aria-controls='collapseThree-2') Can I cancel or change my order?
                                #collapseThree-2.accordion-collapse.collapse(aria-labelledby='headingThree-2', data-bs-parent='#accordionFAQ3')
                                    .accordion-body
                                        | Ea earum tempora et obcaecati voluptatem ea reprehenderit itaque sed cumque nisi aut internos error id nihil nobis quo optio ullam. Quo repudiandae incidunt hic quis libero et dolorem ullam est neque delectus 33 eius incidunt qui iusto laborum sed quod officia. Ea omnis provident et voluptatem aperiam id eveniet quis eos sequi fuga. Et consequuntur ducimus a consequatur nemo ex illum aliquam. Sit repellat quasi qui numquam perspiciatis et laboriosam optio.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingFour-2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour-2', aria-expanded='false', aria-controls='collapseFour-2') I have promotional or discount code?
                                #collapseFour-2.accordion-collapse.collapse(aria-labelledby='headingFour-2', data-bs-parent='#accordionFAQ3')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingFive-2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive-2', aria-expanded='false', aria-controls='collapseFive-2') What are the delivery types you use?
                                #collapseFive-2.accordion-collapse.collapse(aria-labelledby='headingFive-2', data-bs-parent='#accordionFAQ3')
                                    .accordion-body
                                        | Ea veniam adipisci sit modi nobis eum dolores ullam! Et omnis nobis qui itaque esse a fuga nihil. Nam omnis temporibus ab dolor quasi sed nesciunt commodi non praesentium eveniet. Qui quia sapiente et praesentium nobis aut odio debitis vel corrupti sunt quo dolor internos non dignissimos iste. Et nesciunt soluta qui voluptatem cumque sed vero minus et dolorem Quis aut quisquam sunt nam laboriosam placeat.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingSix-2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSix-2', aria-expanded='false', aria-controls='collapseSix-2') How can I pay for my purchases?
                                #collapseSix-2.accordion-collapse.collapse(aria-labelledby='headingSix-2', data-bs-parent='#accordionFAQ3')
                                    .accordion-body
                                        | Ut unde laboriosam ut eius illo aut culpa debitis. Et vitae quia aut atque sunt eum veniam voluptas aut laudantium suscipit eum rerum praesentium. Et odit dignissimos sed ipsam natus et earum dolore! Et blanditiis Quis ut necessitatibus atque 33 omnis totam sed voluptatem suscipit! A libero molestias et quos sunt et illum dignissimos. Aut blanditiis voluptas At fugiat maiores aut eligendi velit et cumque voluptas. Et officiis libero aut beatae quis sed rerum dicta.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingSeven-2.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSeven-2', aria-expanded='false', aria-controls='collapseSeven-2') Can I cancel my order?
                                #collapseSeven-2.accordion-collapse.collapse(aria-labelledby='headingSeven-2', data-bs-parent='#accordionFAQ3')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.

                    #tab-technology.tab-pane.fade(role='tabpanel', aria-labelledby='tab-technology')
                        #accordionFAQ4.accordion
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingOne-3.accordion-header
                                    button.accordion-button.text-heading-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne-3', aria-expanded='true', aria-controls='collapseOne-3') Where is my order? Quisque molestie
                                #collapseOne-3.accordion-collapse.collapse.show(aria-labelledby='headingOne-3', data-bs-parent='#accordionFAQ4')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingTwo-3.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo-3', aria-expanded='false', aria-controls='collapseTwo-3') How can I return an item purchased online?
                                #collapseTwo-3.accordion-collapse.collapse(aria-labelledby='headingTwo-3', data-bs-parent='#accordionFAQ4')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingThree-3.accordion-header
                                    button.accordion-button.text-heading-5.collapsed.text-heading-5(class='type=', data-bs-toggle='collapse', data-bs-target='#collapseThree-3', aria-expanded='false', aria-controls='collapseThree-3') Can I cancel or change my order?
                                #collapseThree-3.accordion-collapse.collapse(aria-labelledby='headingThree-3', data-bs-parent='#accordionFAQ4')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingFour-3.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour-3', aria-expanded='false', aria-controls='collapseFour-3') I have promotional or discount code?
                                #collapseFour-3.accordion-collapse.collapse(aria-labelledby='headingFour-3', data-bs-parent='#accordionFAQ4')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingFive-3.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive-3', aria-expanded='false', aria-controls='collapseFive-3') What are the delivery types you use?
                                #collapseFive-3.accordion-collapse.collapse(aria-labelledby='headingFive-3', data-bs-parent='#accordionFAQ4')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingSix-3.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSix-3', aria-expanded='false', aria-controls='collapseSix-3') How can I pay for my purchases?
                                #collapseSix-3.accordion-collapse.collapse(aria-labelledby='headingSix-3', data-bs-parent='#accordionFAQ4')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingSeven-3.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSeven-3', aria-expanded='false', aria-controls='collapseSeven-3') Can I cancel my order?
                                #collapseSeven-3.accordion-collapse.collapse(aria-labelledby='headingSeven-3', data-bs-parent='#accordionFAQ4')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.

                    #tab-account.tab-pane.fade(role='tabpanel', aria-labelledby='tab-order')
                        #accordionFAQ5.accordion
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingOne-4.accordion-header
                                    button.accordion-button.text-heading-5(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne-4', aria-expanded='true', aria-controls='collapseOne-4') Where is my order? Quisque molestie
                                #collapseOne-4.accordion-collapse.collapse.show(aria-labelledby='headingOne-4', data-bs-parent='#accordionFAQ5')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingTwo-4.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo-4', aria-expanded='false', aria-controls='collapseTwo-4') How can I return an item purchased online?
                                #collapseTwo-4.accordion-collapse.collapse(aria-labelledby='headingTwo-4', data-bs-parent='#accordionFAQ5')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingThree-4.accordion-header
                                    button.accordion-button.text-heading-5.collapsed.text-heading-5(class='type=', data-bs-toggle='collapse', data-bs-target='#collapseThree-4', aria-expanded='false', aria-controls='collapseThree-4') Can I cancel or change my order?
                                #collapseThree-4.accordion-collapse.collapse(aria-labelledby='headingThree-4', data-bs-parent='#accordionFAQ5')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingFour-4.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour-4', aria-expanded='false', aria-controls='collapseFour-4') I have promotional or discount code?
                                #collapseFour-4.accordion-collapse.collapse(aria-labelledby='headingFour-4', data-bs-parent='#accordionFAQ5')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingFive-4.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive-4', aria-expanded='false', aria-controls='collapseFive-4') What are the delivery types you use?
                                #collapseFive-4.accordion-collapse.collapse(aria-labelledby='headingFive-4', data-bs-parent='#accordionFAQ5')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingSix-4.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSix-4', aria-expanded='false', aria-controls='collapseSix-4') How can I pay for my purchases?
                                #collapseSix-4.accordion-collapse.collapse(aria-labelledby='headingSix-4', data-bs-parent='#accordionFAQ5')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                            .accordion-item.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                                h5#headingSeven-4.accordion-header
                                    button.accordion-button.text-heading-5.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSeven-4', aria-expanded='false', aria-controls='collapseSeven-4') Can I cancel my order?
                                #collapseSeven-4.accordion-collapse.collapse(aria-labelledby='headingSeven-4', data-bs-parent='#accordionFAQ5')
                                    .accordion-body
                                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.

    .border-bottom