section.section
    .box-radius-bottom
        .container
            .text-center
                h3.color-brand-1.mb-15.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Loved By Developers, Trusted By Enterprises
                p.font-lg.color-grey-500.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') We helped these brands turn online assessments into success stories.
                    br.d-none.d-lg-block
                    | Join them. Elevate your testing.
            .mt-30.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                .box-swiper
                    .swiper-container.swiper-group-8
                        .swiper-wrapper
                            .swiper-slide
                                img(src="assets/imgs/page/homepage1/placed.png", alt="Flowedge")
                            .swiper-slide
                                img(src="assets/imgs/page/homepage1/cuebiq.png", alt="Flowedge")
                            .swiper-slide
                                img(src="assets/imgs/page/homepage1/factual.png", alt="Flowedge")
                            .swiper-slide
                                img(src="assets/imgs/page/homepage1/placeiq.png", alt="Flowedge")
                            .swiper-slide
                                img(src="assets/imgs/page/homepage1/airmeet.png", alt="Flowedge")
                            .swiper-slide
                                img(src="assets/imgs/page/homepage1/spen.png", alt="Flowedge")
                            .swiper-slide
                                img(src="assets/imgs/page/homepage1/klippa.png", alt="Flowedge")
                            .swiper-slide
                                img(src="assets/imgs/page/homepage1/matrix.png", alt="Flowedge")
                        .swiper-pagination.swiper-pagination-group-8