section.section.mt-100
    .container
        .row.align-items-end
            .col-lg-8.col-md-8
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') What We Offer
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeInUp(data-wow-delay='.02s') What makes us different from others? We give holistic solutions
                    br.d-none.d-lg-block
                    | with strategy, design & technology.
            .col-lg-4.col-md-4.text-md-end.text-start
                a.btn.btn-default.font-sm-bold.pl-0.wow.animate__animated.animate__fadeInUp(data-wow-delay='.04s') Learn More
                    svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
        .row.mt-50
            .col-lg-4.col-md-6.col-sm-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                +cardOffer()
            .col-lg-4.col-md-6.col-sm-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                +cardOffer("assets/imgs/page/homepage1/cross2.png", "Business strategy", "Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
            .col-lg-4.col-md-6.col-sm-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                +cardOffer("assets/imgs/page/homepage1/cross3.png", "Local Marketing", "Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
            .col-lg-4.col-md-6.col-sm-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                +cardOffer("assets/imgs/page/homepage1/cross4.png", "Social Media", "Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
            .col-lg-4.col-md-6.col-sm-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                +cardOffer("assets/imgs/page/homepage1/cross5.png", "Brand Identity", "Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
            .col-lg-4.col-md-6.col-sm-6.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                +cardOffer("assets/imgs/page/homepage1/cross6.png", "Digital Marketing", "Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")