section.section.mt-50.mb-30
    .container
        .text-center.mb-70
            h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') High quality projects finished and awarded
                    br.d-none.d-xl-block
                    | on conferences around the globe.
        .row.mt-50.mb-100
            .col-xl-7.col-lg-6
                .box-images-project
                    .box-images.mt-50
                        img.img-main-2(src="assets/imgs/page/homepage1/project1.png", alt="Flowedge")
                        .image-2.shape-3
                            img(src="assets/imgs/page/homepage1/finger.png", alt="Flowedge")
                        .image-3.shape-1
                            img(src="assets/imgs/page/homepage1/circle.png", alt="Flowedge")
            .col-xl-5.col-lg-6
                span.btn.btn-tag.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Business
                h3.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s') Integrate with over 1,000 project management apps
                p.font-md.color-grey-400.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.
                .mt-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                    ul.list-ticks
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Task tracking
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Create task dependencies
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Task visualization
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | hare files, discuss
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Meet deadlines faster
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Track time spent on each project
                .mt-50.text-start.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                    a.btn.btn-brand-1.hover-up(href="#") Download App
                    a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                        svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')

        .row.mb-100.mt-50.project-revert
            .col-xl-5.col-lg-6
                span.btn.btn-tag.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Business
                h3.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Build your brand and reach out to social followers
                p.font-md.color-grey-400.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Sharing content online allows you to craft an online persona that reflects your personal values and professional skills. Even if you only use social media occasionally, what you create, share or react to feeds into this public narrative. How you conduct yourself online is now just as important as your behavior offline especially when it comes to your digital marketing career.
                .mt-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                    ul.list-ticks
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Send & Schedule Posts
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Live Chat Request
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Push Notification
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Create fully integrated campaigns
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Online Visitors
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Directly send or schedule posts
                .mt-50.text-start.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
                    a.btn.btn-brand-1.hover-up(href="#") Download App
                    a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                        svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
            .col-xl-7.col-lg-6
                .box-images-project
                    .box-images.mt-50
                        img.img-main-2(src="assets/imgs/page/homepage1/project2.png", alt="Flowedge")
                        .image-2.shape-3
                            img(src="assets/imgs/page/homepage1/Union.png", alt="Flowedge")
                        .image-3.shape-1
                            img(src="assets/imgs/page/homepage1/eye.png", alt="Flowedge")

    .border-bottom