section.section.mt-50.bg-plant
    .container
        .row.align-items-end
            .col-lg-8.col-md-8
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') What our custommers are saying
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Hear from our users who have saved thousands on their Startup
                    br.d-none.d-lg-block
                    |  and SaaS solution spend
            .col-lg-4.col-md-4.text-md-end.text-start
                a.btn.btn-default.font-sm-bold.pl-0.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') View All
                    svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
        .mt-50.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s')
            .box-swiper
                .swiper-container.swiper-group-3
                    .swiper-wrapper
                        .swiper-slide
                            +cardTestimonial('assets/imgs/page/homepage1/author.png', 'Guy Hawkins', 'Bank of America', 'Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list. When team members can choose the work style that suits them best, productivity and engagement skyrocket. Maecenas lobortis risus.', '29 November 2025')
                        .swiper-slide
                            +cardTestimonial('assets/imgs/page/homepage1/author.png', 'Guy Hawkins', 'Bank of America', 'Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list. When team members can choose the work style that suits them best, productivity and engagement skyrocket. Maecenas lobortis risus.', '29 November 2025')
                        .swiper-slide
                            +cardTestimonial('assets/imgs/page/homepage1/author.png', 'Guy Hawkins', 'Bank of America', 'Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list. When team members can choose the work style that suits them best, productivity and engagement skyrocket. Maecenas lobortis risus.', '29 November 2025')
                    .swiper-pagination.swiper-pagination-2.swiper-pagination-group-3