section.section.banner-8
    .asset-1.shape-1
    .asset-2.shape-2
    .asset-3.shape-3
    .asset-4.shape-1
    .asset-5.shape-2
    .box-banner-home8

        .container
            .row
                .col-xl-8.col-lg-10.m-auto
                    .text-center
                        span.font-md.color-grey-400.wow.animate__animated.animate__fadeInUp(data-wow-delay='.s') Think. Creative. Solve
                        h1.color-brand-1.mb-25.mt-10.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Innovative Solution to Move Your Business Forward
                        p.font-md.color-grey-500.mb-25.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s')
                            | Collaborate, plan projects and manage resources with powerful features that your whole team
                            br.d-none.d-lg-block
                            | can use.  The latest news, tips and advice to help you run your business with less fuss.
                        .text-center.wow.animate__animated.animate__fadeInUp(data-wow-delay='.6s')
                            a(href="#")
                                img.mr-10(src="assets/imgs/template/appstore.png", alt="Flowedge")
                            a(href="#")
                                img(src="assets/imgs/template/google-play.png", alt="Flowedge")
        .mt-80.wow.animate__animated.animate__fadeIn
            .box-swiper
                .swiper-container.swiper-group-7-center
                    .swiper-wrapper
                        .swiper-slide
                            .card-member-2.mb-30
                                .card-image
                                    img(src="assets/imgs/page/homepage8/member.png", alt="Flowedge")
                                .card-info.bg-1
                                    a.font-lg-bold.color-brand-1(href="#") Steven Jobs
                                    .d-flex.align-items-center
                                        p.font-xs.color-grey-200 Graphic Designer
                                        .list-socials.mt-0
                                            a.icon-socials.icon-facebook(href='#')
                                            a.icon-socials.icon-twitter(href='#')
                                            a.icon-socials.icon-instagram(href='#')
                        .swiper-slide
                            .card-member-2.bg-2.mb-30
                                .card-image
                                    img(src="assets/imgs/page/homepage8/member1.png", alt="Flowedge")
                                .card-info.bg-4
                                    a.font-lg-bold.color-brand-1(href="#") Steven Jobs
                                    .d-flex.align-items-center
                                        p.font-xs.color-grey-200 Graphic Designer
                                        .list-socials.mt-0
                                            a.icon-socials.icon-facebook(href='#')
                                            a.icon-socials.icon-twitter(href='#')
                                            a.icon-socials.icon-instagram(href='#')
                        .swiper-slide
                            .card-member-2.bg-5.mb-30
                                .card-image
                                    img(src="assets/imgs/page/homepage8/member2.png", alt="Flowedge")
                                .card-info.bg-3
                                    a.font-lg-bold.color-brand-1(href="#") Steven Jobs
                                    .d-flex.align-items-center
                                        p.font-xs.color-grey-200 Graphic Designer
                                        .list-socials.mt-0
                                            a.icon-socials.icon-facebook(href='#')
                                            a.icon-socials.icon-twitter(href='#')
                                            a.icon-socials.icon-instagram(href='#')
                        .swiper-slide
                            .card-member-2.bg-1.mb-30
                                .card-image
                                    img(src="assets/imgs/page/homepage8/member3.png", alt="Flowedge")
                                .card-info.bg-2
                                    a.font-lg-bold.color-brand-1(href="#") Steven Jobs
                                    .d-flex.align-items-center
                                        p.font-xs.color-grey-200 Graphic Designer
                                        .list-socials.mt-0
                                            a.icon-socials.icon-facebook(href='#')
                                            a.icon-socials.icon-twitter(href='#')
                                            a.icon-socials.icon-instagram(href='#')
                        .swiper-slide
                            .card-member-2.bg-4.mb-30
                                .card-image
                                    img(src="assets/imgs/page/homepage8/member4.png", alt="Flowedge")
                                .card-info.bg-5
                                    a.font-lg-bold.color-brand-1(href="#") Steven Jobs
                                    .d-flex.align-items-center
                                        p.font-xs.color-grey-200 Graphic Designer
                                        .list-socials.mt-0
                                            a.icon-socials.icon-facebook(href='#')
                                            a.icon-socials.icon-twitter(href='#')
                                            a.icon-socials.icon-instagram(href='#')
                        .swiper-slide
                            .card-member-2.bg-7.mb-30
                                .card-image
                                    img(src="assets/imgs/page/homepage8/member5.png", alt="Flowedge")
                                .card-info.bg-7
                                    a.font-lg-bold.color-brand-1(href="#") Steven Jobs
                                    .d-flex.align-items-center
                                        p.font-xs.color-grey-200 Graphic Designer
                                        .list-socials.mt-0
                                            a.icon-socials.icon-facebook(href='#')
                                            a.icon-socials.icon-twitter(href='#')
                                            a.icon-socials.icon-instagram(href='#')
                    .box-button-slider-bottom
                        .swiper-button-prev.swiper-button-prev-group-4
                            svg.w-6.h-6(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M10 19l-7-7m0 0l7-7m-7 7h18')
                        .swiper-button-next.swiper-button-next-group-4
                            svg.w-6.h-6(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')