section.section.mt-90
    .container
        .text-center
            h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.s')  Everything will become One
            p.font-lg.color-grey-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.s')
                a.font-lg-bold.color-brand-1(href="#") Flowedge Platform
                | lets you take control of your money, balance your
                br.d-none.d-lg-block
                | income and expenses, and understand where your money goes.

        .row.mt-75.align-items-center
            .col-lg-4.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.s')
                +cardBecomeLeft("assets/imgs/page/homepage8/icon1.png","Total control","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque")
                +cardBecomeLeft("assets/imgs/page/homepage8/icon2.png","Rapid experimentation","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque")
                +cardBecomeLeft("assets/imgs/page/homepage8/icon3.png","Secure transfer","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque")
                +cardBecomeLeft("assets/imgs/page/homepage8/icon4.png","Activity statistics","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque")
            .col-lg-4.mb-30.text-center.wow.animate__animated.animate__fadeIn(data-wow-delay='.s')
                img(src="assets/imgs/page/homepage8/phone2.png", alt="Flowedge")
            .col-lg-4.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.s')
                +cardBecomeRight("assets/imgs/page/homepage8/icon5.png","Track your spending","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque")
                +cardBecomeRight("assets/imgs/page/homepage8/icon6.png","Fast Response","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque")
                +cardBecomeRight("assets/imgs/page/homepage8/icon7.png","AI automation","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque")
                +cardBecomeRight("assets/imgs/page/homepage8/icon8.png","Budget that works","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque")

    .border-bottom.mt-100