section.section.mt-150
    .container
        .row.align-items-center
            .col-lg-6
                span.title-line.line-48.wow.animate__animated.animate__fadeInUp Why using our app
                h3.color-brand-1.mb-20.mt-15.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Our app is great for individuals, startups and enterprises. It have never been easier to manage your finances
                .row
                    .col-lg-9
                        p.font-sm.color-grey-500.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s') Eos eveniet nesciunt et accusamus suscipit est magnam consequatur aut quisquam perferendis a reprehenderit quis aut voluptatem repellat est beatae reiciendis? Cum omnis corrupti cum incidunt veritatis vel libero provident aut reiciendis animi ut quod quaerat et velit animi et omnis illo. Sit quae harum eos incidunt sequi eum iste fugit ex omnis aliquam a explicabo quam.
                .mt-35
                    .row
                        .col-lg-5.col-md-6.col-sm-6.col-6.mb-20
                            h2.color-brand-1
                                span.count 469
                                span k
                            p.font-lg.color-brand-1 Social followers
                        .col-lg-5.col-md-6.col-sm-6.col-6.mb-20
                            h2.color-brand-1
                                span.count 25
                                span k+
                            p.font-lg.color-brand-1 Happy Clients

            .col-lg-6.text-center
                .box-charts
                    .box-chart-1.text-end
                        .box-number-2.bg-brand-2
                            h2.color-brand-1
                                span.count 756
                                span +
                            p.font-lg.color-brand-1.wow.animate__animated.animate__fadeInUp(data-wow-delay='.6s')  Project Done
                    .box-chart-2.wow.animate__animated.animate__fadeIn(data-wow-delay='.s')
                        .item-chart-inner
                            img(src="assets/imgs/page/homepage8/chart1.png", alt="Flowedge")
                .box-charts
                    .box-chart-1.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                        .item-chart-inner
                            img(src="assets/imgs/page/homepage8/chart2.png", alt="Flowedge")
                    .box-chart-2.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                        .item-chart-inner
                            img(src="assets/imgs/page/homepage8/chart3.png", alt="Flowedge")
                .box-charts
                    .box-reviews
                        .item-chart-inner
                            .row
                                .col-lg-6.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                                    +cardComment('assets/imgs/page/homepage8/author1.png', 'Bessie Cooper', 'Duis justo nulla, pulvinar at dolor dapibus, finibus cursus massa')
                                .col-lg-6.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                                    +cardComment('assets/imgs/page/homepage8/author2.png', 'Albert Flores', 'Vivamus hendrerit molestie mi, a volutpat ipsum vol')

    .border-bottom.mt-90