section.section.mt-50.overflow-hidden
    .container
        .row.align-items-center
            .col-lg-6.text-center.mb-30
                .box-phones
                    .box-phones-inner
                        .img-phone-1.wow.animate__animated.animate__zoomIn(data-wow-delay='.0s')
                            img(src="assets/imgs/page/homepage8/phone1.png", alt="Flowedge")
                        .img-phone-2.wow.animate__animated.animate__zoomIn(data-wow-delay='.4s')
                            img(src="assets/imgs/page/homepage8/phone2.png", alt="Flowedge")
            .col-lg-6.mb-30
                .box-our-app
                    span.title-line.line-48.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Why using our app
                    h3.color-brand-1.mb-20.mt-15.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s') Our app is great for individuals, startups and enterprises. It have never been easier to manage your finances
                    p.font-sm.color-grey-500.mb-40.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Eos eveniet nesciunt et accusamus suscipit est magnam consequatur aut quisquam perferendis a reprehenderit quis aut voluptatem repellat est beatae reiciendis? Cum omnis corrupti cum incidunt veritatis vel libero provident aut reiciendis animi ut quod quaerat et velit animi et omnis illo. Sit quae harum eos incidunt sequi eum iste fugit ex omnis aliquam a explicabo quam.
                    .box-item-comment.wow.animate__animated.animate__fadeInUp(data-wow-delay='.3s')
                        .image-comment
                            img(src="assets/imgs/page/homepage8/author.png", alt="Flowedge")
                        .info-comment
                            p.font-lg-bold.color-grey-500.comment-quote.mb-15 Et corporis quia est iusto delectus ea consequuntur sapiente in quia totam ut internos architecto. Eos deleniti dolore eos enim totam et eaque nisi.
                            span.font-md-bold.color-brand-1 Albert Flores
                            p.font-xs.color-grey-500 Bank of America
