section.section.mt-50.mb-40.box-testimonial-2.bg-grey-60.pt-120.pb-120
    .container
        .row.align-items-center
            .col-lg-12.text-center.mb-70
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.s')  What our custommers are saying
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')  Hear from our users who have saved thousands on
                    br.d-none.d-lg-block
                    | their Startup and SaaS solution spend.
        .row.align-items-start(data-masonry='{"percentPosition": true }')
            .col-lg-4.col-md-6.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.s')
                +cardTestimonial('assets/imgs/page/homepage1/author.png', 'Guy Hawkins', 'Bank of America', 'Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list. When team members can choose the work style that suits them best, productivity and engagement skyrocket. Maecenas lobortis risus.', '29 November 2025')
            .col-lg-4.col-md-6.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +cardTestimonial('assets/imgs/page/pricing/author1.png', 'Bessie Cooper', 'Bank of America', 'Et velit laborum cum temporibus similique qui nostrum odit hic Quis cupiditate et facilis sunt. Et dolorum nostrum qui culpa ullam ut consequatur voluptas eum modi nobis. Ut voluptatem voluptatum hic praesentium eveniet non quae laboriosam nam architecto consequatur aut obcaecati consequatur sit dolores labore ut officia velit. Eos officia consectetur sit labore voluptatem et quia recusandae', '29 November 2025')
            .col-lg-4.col-md-6.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                +cardTestimonial('assets/imgs/page/pricing/author2.png', 'Bessie Cooper', 'Bank of America', 'Duis justo nulla, pulvinar at dolor dapibus, finibus cursus massa. Praesent quam diam, faucibus tristique enim in, rhoncus aliquam lorem. Vestibulum vestibulum pellentesque nunc sit amet ullamcorper. Praesent ligula felis', '29 November 2025')
            .col-lg-4.col-md-6.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                +cardTestimonial('assets/imgs/page/homepage2/author2.png', 'Esther Howard', 'Bank of America', 'Vivamus venenatis turpis at elit aliquam, in mattis felis ullamcorper. Donec vel elit at diam suscipit volutpat. Donec rhoncus, magna vitae gravida condimentum, massa mauris fermentum est, vitae euismod leo magna vestibulum nunc', '29 November 2025')
            .col-lg-4.col-md-6.mb-30.testimonial-warning.wow.animate__animated.animate__fadeIn(data-wow-delay='.5s')
                +cardTestimonial('assets/imgs/page/pricing/author3.png', 'Albert Flores', 'Bank of America', 'Vivamus hendrerit molestie mi, a volutpat ipsum volutpat sit amet. Aenean sed metus pulvinar, efficitur lectus sit amet, consectetur nisl. Vivamus hendrerit moles Maecenas lobortis risus Maecenas lobortis risus', '29 November 2025')
            .col-lg-4.col-md-6.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.6s')
                +cardTestimonial('assets/imgs/page/pricing/author4.png', 'Albert Flores', 'Bank of America', 'Vivamus hendrerit molestie mi, a volutpat ipsum volutpat sit amet. Aenean sed metus pulvinar, efficitur lectus sit amet, consectetur nisl. Vivamus hendrerit moles Maecenas lobortis risus Maecenas lobortis risus', '29 November 2025')