section.section.box-404
    .container
        .row
            .col-lg-2
            .col-lg-10
                .row.align-items-center
                    .col-md-5.col-sm-12.mb-30.text-center.text-md-start
                        img(src="assets/imgs/page/404/404.png", alt="Flowedge")
                    .col-md-7.col-sm-12.text-center.text-md-start
                        h1.color-brand-1.font-84.mb-10.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') 404
                        h3.color-brand-1.mb-25.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s') Oops, nothing to see here
                        p.font-md.color-grey-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') Unfortunately, we couldn't find what you were looking for or the page no longer exists.
                        .mt-50.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                            a.btn.btn-default.color-grey-900.pl-0(href="index.html")
                                svg.w-6.h-6.icon-16.mr-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M10 19l-7-7m0 0l7-7m-7 7h18')
                                | Back to Homepage
        .border-bottom.bd-grey-80.mt-110.mb-0