section.section.pt-50.pb-100
    .container
        .box-image-detail
            img.bd-rd16.d-block(src="assets/imgs/page/job-detail/img-job.png", alt="Flowedge")
        .content-detail 
            .row 
                .col-lg-10.col-11.m-auto 
                    .box-detail-content 
                        .row.align-items-center 
                            .col-lg-8.col-md-8.col-sm-12.col-12.mb-30
                                h3.color-brand-1.mb-10.mt-0 Business Development Manager and Financial Services
                                span.date-post.font-xs.color-grey-300 
                                    svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z')
                                    | 29 May 2025
                                span.time-read.font-xs.color-grey-300 
                                    svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z')
                                    | 3 mins read
                            .col-lg-4.col-md-4.col-sm-12.col-12.text-start.text-md-end.mb-30 
                                a.btn.btn-brand-1.btn-apply(href="#") 
                                    svg.w-6.h-6.icon-18.mr-10(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z')
                                    | Appy Now
                        .border-bottom.bd-grey-80.mb-40.pt-0 
                        h4.color-brand-1.mb-25 Job summary 
                        .box-info-job 
                            .row.align-items-start 
                                .col-lg-6.col-md-6
                                    .item-job 
                                        .left-title 
                                            span.industry Industry
                                        .right-info 
                                            | Business, Financial
                                    .item-job 
                                        .left-title 
                                            span.salary Salary
                                        .right-info 
                                            | $800 - $1000
                                    .item-job 
                                        .left-title 
                                            span.jobtype Job type
                                        .right-info 
                                            | Permanent
                                    .item-job 
                                        .left-title 
                                            span.updated Updated
                                        .right-info 
                                            | 10/07/2025 
                                .col-lg-6.col-md-6
                                    .item-job 
                                        .left-title 
                                            span.joblevel Job level
                                        .right-info 
                                            | Experienced (Non - Manager)
                                    .item-job 
                                        .left-title 
                                            span.experience Experience
                                        .right-info 
                                            | 1 - 2 Years
                                    .item-job 
                                        .left-title 
                                            span.deadline Deadline
                                        .right-info 
                                            | 08/08/2025
                                    .item-job 
                                        .left-title 
                                            span.location Location
                                        .right-info 
                                            | Dallas, Texas. Remote Friendly.

                        h4.color-brand-1 Responsibilities
                        p Product knowledge: Deeply understand the technology and features of the product area to which you are assigned.
                        p Research: Provide human and business impact and insights for products.
                        p Deliverables: Create deliverables for your product area (for example competitive analyses, user flows, low fidelity wireframes, high fidelity mockups, prototypes, etc.) that solve real user problems through the user experience.
                        p Communication: Communicate the results of UX activities within your product area to the design team department, cross-functional partners within your product area, and other interested Superformula team members using clear language that simplifies complexity.
                        
                        h4.color-brand-1 Requirements
                        ul 
                            li A portfolio demonstrating well thought through and polished end to end customer journeys
                            li 5+ years of industry experience in interactive design and / or visual design
                            li Excellent interpersonal skills 
                            li Aware of trends in mobile, communications, and collaboration
                            li Ability to create highly polished design prototypes, mockups, and other communication artifacts
                            li The ability to scope and estimate efforts accurately and prFlowedgetize tasks and goals independently
                            li History of impacting shipping products with your work
                            li A Bachelor’s Degree in Design (or related field) or equivalent professional experience
                            li Proficiency in a variety of design tools such as Figma, Photoshop, Illustrator, and Sketch

                        h4.color-brand-1 What's on Offer 
                        ul 
                            li Annual bonus and holidays, social welfare, and health checks.
                            li Training and attachment in Taiwan and other Greater China branches.

                        .box-info-bottom 
                            .row.align-items-center 
                                .col-lg-6.col-md-6.col-sm-5.col-12.mb-30 
                                    a.btn.btn-brand-1.btn-apply(href="#") 
                                        svg.w-6.h-6.icon-18.mr-10(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z')
                                        | Appy Now
                                .col-lg-6.col-md-6.col-sm-7.col-12.text-start.text-sm-end.mb-30 
                                    a.btn.btn-tag.mb-10(href="#") App
                                    a.btn.btn-tag.ml-10.mb-10(href="#") Digital
                                    a.btn.btn-tag.ml-10.mb-10(href="#") Marketing