section.section.mt-50
    .container
        .row.align-items-end
            .col-lg-8.col-md-8
                h2.color-brand-1.mb-20 More Job Openings
                p.font-lg.color-gray-500 We regularly recruit at many positions.
                    br.d-none.d-lg-block
                    | See related jobs here
            .col-lg-4.col-md-4.text-md-end.text-start
                a.btn.btn-default.font-sm-bold.pl-0 View All
                    svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')

        .row.mt-50
            .col-lg-4.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                +cardOffer("assets/imgs/page/job-detail/ui.png","UI / UX Designer fulltime","Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.")
            .col-lg-4.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +cardOffer("assets/imgs/page/job-detail/java.png","Java Software Engineer","Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.")
            .col-lg-4.col-md-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                +cardOffer("assets/imgs/page/job-detail/senior.png","Senior System Engineer","Seamless importing and round-tripping of Microsoft Project plans, Excel files & CSV files.")