section.section.mt-50
    .container
        .row.align-items-center
            .col-lg-5.mb-30
                h3.color-gray-800.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Nikon D3500 DX-Format DSLR Two Lens Kit with AF-P DX
                .d-flex.align-items-center.mb-30.box-price-banner
                    h3.color-success.mr-30 $318.00
                    h4.color-grey-200.mr-30 $420.00
                    p.font-md.color-grey-200 (In stock)
                .mb-50
                    ul.list-dots
                        li.font-xs Class leading image quality, ISO range, image processing and metering equivalent to the award winning D500
                        li.font-xs Large 3.2” 922k dot, tilting Lcd screen with touch functionality. Temperature: 0 °c to 40 °c (32 °f to 104 °f) humidity: 85 percentage or less (no condensation)
                        li.font-xs 51 point AF system with 15 cross type sensors and group area AF paired with up to 8 fps continuous shooting capability
                        li.font-xs Built in Wi-Fi and Bluetooth for easy connectivity through the Nikon snap bridge app

                .box-quantity
                    .form-quantity.mr-10
                        input.input-quantity(type="text",value="1")
                        span.button-quantity.button-up
                        span.button-quantity.button-down
                    a.btn.btn-brand-1.mr-10(href="#") Add To Cart
                    a.btn.btn-brand-1.btn-wish(href="#")
                        svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z')

            .col-lg-7.text-center.mb-30
                .detail-gallery
                    .product-image-slider
                        figure.border-radius-10
                            img(src='assets/imgs/page/product/sp1.png', alt='product image')
                        figure.border-radius-10
                            img(src='assets/imgs/page/product/sp1.png', alt='product image')
                        figure.border-radius-10
                            img(src='assets/imgs/page/product/sp1.png', alt='product image')
                        figure.border-radius-10
                            img(src='assets/imgs/page/product/sp1.png', alt='product image')
                        figure.border-radius-10
                            img(src='assets/imgs/page/product/sp1.png', alt='product image')
                        figure.border-radius-10
                            img(src='assets/imgs/page/product/sp1.png', alt='product image')
                .slider-nav-thumbnails
                    div
                        .item-thumb
                            img(src='assets/imgs/page/product/thumn1.png', alt='product image')
                    div
                        .item-thumb
                            img(src='assets/imgs/page/product/thumn2.png', alt='product image')
                    div
                        .item-thumb
                            img(src='assets/imgs/page/product/thumn3.png', alt='product image')
                    div
                        .item-thumb
                            img(src='assets/imgs/page/product/thumn4.png', alt='product image')
                    div
                        .item-thumb
                            img(src='assets/imgs/page/product/thumn5.png', alt='product image')
                    div
                        .item-thumb
                            img(src='assets/imgs/page/product/thumn1.png', alt='product image')

    .border-bottom.bd-grey-80.mt-50