section.section.mt-70
    .container
        .row.align-items-center.mb-40
            .col-lg-1
            .col-lg-5.mb-30
                .img-reveal
                    img(src='assets/imgs/page/product/collection1.png',alt="Flowedge")
            .col-lg-5.mb-30
                .box-info-collection.pr-0
                    h3.color-brand-1.mb-25 Beautiful Pictures For All
                    p.font-md.color-grey-500.mb-10 You don't need to be a photographer to know a great photo when you see one. And you don't need to be a photographer to take a great photo—you just need the D3500. It's as easy to use as a point-and-shoot, but it takes beautiful DSLR photos and videos that get noticed. It feels outstanding in your hands, sturdy and balanced with controls where you want them
                    .box-button.mt-30
                            a.btn.btn-brand-1.hover-up(href='#') View Collections
                            a.btn.btn-default.font-sm-bold.hover-up(href='#')
                                | Learn More
                                svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')

        .row.align-items-center
            .col-lg-1
            .col-lg-5.mb-30
                .box-info-collection.pl-0
                    h3.color-brand-1.mb-25 Easy. Portable. Amazing
                    p.font-md.color-grey-500.mb-10 Take more memorable images. The photos you take with the D3500 capture more than the moment—they capture the feeling of the moment, a feeling that can be shared immediately with your friends and family and then relived for a lifetime.
                    .mt-20
                    ul.list-ticks
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Less thinking. More shooting
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Picture after amazing picture
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | The day tripper
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Colors that pop in any light
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Newbies welcome
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Fast, accurate focusing
            .col-lg-5.mb-30
                .img-reveal
                    img(src='assets/imgs/page/product/collection2.png',alt="Flowedge")