section.section.mt-100
    .container 
        h2.color-brand-1.mb-60 Product information
        h6.font-2xl.color-brand-1.mb-15 Item details
        .row 
            .col-lg-6 
                .table-responsive 
                    table.table.table-product-info 
                        tr 
                            th Model Name
                            td Z fc DX-format Mirrorless
                        tr 
                            th Brand
                            td Nikon
                        tr 
                            th Model Number
                            td 1675
                        tr 
                            th Color
                            td Silver / Black / Gold
                        tr 
                            th Included Components
                            td Camera Body & Lens
                        tr 
                            th Age Range (Description)
                            td Adult
                        tr 
                            th Processor Description
                            td Nikon Expeed 6
                        tr 
                            th Operating Humidity
                            td Less than 85%
            .col-lg-6 
                .box-info-product
                    ul.list-dots.mt-5 
                        li.font-md Superb image quality: 20.9 MP DX CMOS sensor paired with EXPEED 6 processing engine
                        li.font-md Vlogger Ready: 4K UHD, Flip out Vari-angle LCD, full time AF with eye detection, built-in stereo microphone, external microphone jack, live stream and web conference compatible
                        li.font-md Heritage Design: Classic tactile design with analog controls for shutter speed, ISO and exposure compensation
                        li.font-md Send images to your phone: Always connected using the free Nikon SnapBridge app and a compatible smart device. Intuitive: Easy access to Auto Mode, quick settings and the Menu help guide.
                        li.font-md Lens Compatibility: Compatible with NIKKOR Z lenses as well as F Mount NIKKOR lenses using FTZ Mount Adapter (sold separately).

        .row.mt-30 
            .col-lg-6.mb-30 
                h6.font-2xl.color-brand-1.mb-15 Imaging
                .table-responsive 
                    table.table.table-product-info 
                        tr 
                            th Auto Focus Technology
                            td Phase Detection
                        tr 
                            th Product information
                            td 1.50:1, 16:9
                        tr 
                            th Display Resolution Maximum
                            td Approx. 1040 k-dot
                        tr 
                            th Photo Sensor Size
                            td APS-C
                        tr 
                            th Photo Sensor Technology
                            td CMOS
                        tr 
                            th Effective Still Resolution
                            td 20.9 MP
                        tr 
                            th Maximum Webcam Image Resolution
                            td 16 MP
                        tr 
                            th Frame Rate
                            td Up to 120 fps
                        tr 
                            th White balance settings
                            td Auto
                        tr 
                            th Self Timer Duration
                            td 20 seconds
                        tr 
                            th JPEG quality level
                            td Basic, Fine, Normal
                        tr 
                            th Camera Flash
                            td Hotshoe
            .col-lg-6.mb-30 
                h6.font-2xl.color-brand-1.mb-15 Exposure
                .table-responsive 
                    table.table.table-product-info 
                        tr 
                            th Expanded ISO Max / Min
                            td 204800 /100 
                        tr 
                            th Shooting Modes
                            td 1/4000 seconds
                        tr 
                            th Max Shutter Speed
                            td 900 seconds
                        tr 
                            th Min Shutter Speed
                            td Manual, Automatic
                        tr 
                            th Exposure Control Type
                            td Evaluative
                        tr 
                            th Metering Description
                            td Automatic
                h6.font-2xl.color-brand-1.mb-15.mt-25 Lens
                .table-responsive 
                    table.table.table-product-info 
                        tr 
                            th Lens Type, Aperture Modes  
                            td Wide Angle / F3.5-F6.3
                        tr 
                            th Optical Zoom
                            td 3 x
                        tr 
                            th Focus Type
                            td Auto Focus, Manual Focus
                        tr 
                            th Photo Filter Thread Size
                            td 46 Millimeters