section.section.mt-50.pt-50
    .container
        .bg-brand-1.box-cover-video
            .row.align-items-center
                .col-xl-6.col-lg-6
                    .img-reveal
                        img.d-block(src="assets/imgs/page/product/img-video.png", alt="Flowedge")
                .col-xl-6.col-lg-6
                    .box-info-video
                        span.btn.btn-tag.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Twice the fun
                        h3.color-brand-2.mt-10.mb-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') Your camera's bridge to your world
                        p.font-md.color-white.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s') The D3500 Two Lens Kit includes two matched lenses to help you cover all the angles. The AF-P DX NIKKOR 18-55mm f/3.5-5.6G VR lens is great for portraits, landscapes, videos and other wide perspective shots. The AF-P DX NIKKOR 70-300mm f/4.5-6.3G ED is a versatile telephoto zoom lens that's great for sports, concerts, nature and more.
                        .box-button-video
                            a.btn.btn-play.font-sm-bold.popup-youtube.hover-up(href="https://www.youtube.com/watch?v=sVPYIRF9RCQ") Play Video