section.section.mt-50
    .container
        .box-newsletter
            .row.align-items-center
                .col-lg-5.col-md-12
                    .box-image-newsletter
                        .wow.animate__animated.animate__zoomIn(data-wow-delay='.0s')
                            img.img-main(src="assets/imgs/template/newsletter_img.png", alt="Flowedge")
                        .shape-2.image-1
                            img(src="assets/imgs/template/newsletter_finger.png", alt="Flowedge")
                .col-lg-6.col-md-12
                    span.font-lg.color-brand-1.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Newsletter
                    h2.color-brand-1.mb-15.mt-5.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s') Subcribe our newsletter
                    p.font-md.color-grey-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') By clicking the button, you are agreeing with our Term & Conditions
                    .form-newsletter.mt-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                        form(action="#")
                            input(type="text", placeholder="Enter you mail ..")
                            button.btn.btn-submit-newsletter(type="submit")
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')