footer.footer.footer-home2
    .footer-1
        .container
            .box-footer-2
                .row
                    .col-lg-3.width-20
                        .mb-10
                            img(src="assets/imgs/template/logo.svg", alt="Flowedge")
                            p.font-md.mb-20.color-grey-400 4517 Washington Ave.
                                br.d-none.d-lg-block
                                | Manchester, Kentucky 39495

                            .font-md.mb-20.color-grey-400
                                strong.font-md-bold Phone:
                                a.color-grey-400(href="tel:+0123456789") (+01) 234 567 89

                            .font-md.mb-20.color-grey-400
                                strong.font-md-bold Email:
                                a.color-grey-400(href="mailto:contact@Flowedge.com") contact@Flowedge.com

                            .font-md.mb-20.color-grey-400
                                strong.font-md-bold Hours:
                                |  8:00 - 17:00, Mon - Sat

                    .col-lg-3.width-16.mb-30
                        h5.mb-10.color-brand-1 About Us
                        ul.menu-footer
                            li
                                a(href='about.html') Mission &amp; Vision
                            li
                                a(href='team.html') Our Team
                            li
                                a(href='career.html') Careers
                            li
                                a(href='#') Press &amp; Media
                            li
                                a(href='#') Advertising
                            li
                                a(href='#') Testimonials
                    .col-lg-3.width-16.mb-30
                        h5.mb-10.color-brand-1 Ressources
                        ul.menu-footer
                            li
                                a(href='#') Project managemen
                            li
                                a(href='#') Solutions
                            li
                                a(href='#') Customers
                            li
                                a(href='#') News & Events
                            li
                                a(href='#') Careers
                            li
                                a(href='#') Support
                    .col-lg-3.width-16.mb-30
                        h5.mb-10.color-brand-1 We offer
                        ul.menu-footer
                            li
                                a(href='#') Project  software
                            li
                                a(href='#') Resource  software
                            li
                                a(href='#') Workflow automation
                            li
                                a(href='#') Gantt chart makers
                            li
                                a(href='#') Project dashboards
                            li
                                a(href='#') Task  software
                    .col-lg-3.width-23.mb-20
                        h5.mb-10.color-brand-1 App &amp; Payment
                        div
                        p.font-sm.color-grey-400
                            | Download our Apps and get extra 15% Discount on your first Order…!
                        .mt-20
                            a.mr-10(href='#')
                                img(src='assets/imgs/template/appstore.png',alt="Flowedge")
                            a(href='#')
                                img(src='assets/imgs/template/google-play.png',alt="Flowedge")
                        p.font-sm.color-grey-400.mt-20.mb-10 Secured Payment Gateways
                        img(src='assets/imgs/template/payment-method.png',alt="Flowedge")
                .footer-2
                    .footer-bottom
                        .row.align-items-center
                            .col-lg-4
                                a.icon-socials.icon-facebook(href='#')
                                a.icon-socials.icon-instagram(href='#')
                                a.icon-socials.icon-twitter(href='#')
                                a.icon-socials.icon-linkedin(href='#')
                                a.icon-socials.icon-youtube(href='#')
                            .col-lg-4.col-md-12.text-center
                                span.color-brand-1.font-sm ©Flowedge Official 2025. All right reversed.
                            .col-lg-4.col-md-12.text-center.text-lg-end
                                ul.menu-bottom
                                    li
                                        a.font-sm.color-grey-300(href='term-conditions.html') Privacy policy
                                    li
                                        a.font-sm.color-grey-300(href='term-conditions.html') Cookies
                                    li
                                        a.font-sm.color-grey-300(href='term-conditions.html') Terms of service
                .footer-3.text-center
                    span.color-brand-1.font-sm Our website uses cookies to improve your experience.
                    a.font-sm.color-brand-1(href="#") Learn more

