header.header.header2.sticky-bar
    .container
        .main-header
            .header-left
                .header-logo
                    a.d-flex(href='index.html')
                        img(alt='Ecom', src='assets/imgs/template/logo.svg')
                .header-nav
                    .burger-icon.burger-icon-white
                        span.burger-icon-top
                        span.burger-icon-mid
                        span.burger-icon-bottom
                    
                .header-right
                    nav.nav-main-menu.d-none.d-xl-block
                        ul.main-menu
                            li
                                a.active(href='about.html') About Us
                            li
                                a.active(href='contact.html') Contact Us
                    .d-inline-block.box-dropdown-cart
                        span.font-lg.icon-list.icon-account
                            span.font-lg.color-grey-900.arrow-down EN
                        .dropdown-account
                            ul
                                li
                                    a.font-md(href='#')
                                        img(src="assets/imgs/template/icons/en.png", alt="Flowedge")
                                        | 
                                        | English
                                li
                                    a.font-md(href='#')
                                        img(src="assets/imgs/template/icons/fr.png", alt="Flowedge")
                                        |
                                        | French
                                li
                                    a.font-md(href='#')
                                        img(src="assets/imgs/template/icons/cn.png", alt="Flowedge")
                                        |
                                        | Chiness