.mobile-header-active.mobile-header-wrapper-style.perfect-scrollbar
    .mobile-header-wrapper-inner
        .mobile-header-content-area
            .mobile-logo
                a.d-flex(href='index.html')
                    img(alt='Flowedge', src='assets/imgs/template/logo.svg')
            .perfect-scroll
                .mobile-menu-wrap.mobile-header-border
                    nav.mt-15
                        ul.mobile-menu.font-heading
                            li
                                a(href='about.html') About Us
                            li
                                a(href='contact.html') Contact Us

                .site-copyright.color-grey-400.mt-30
                    | Copyright 2025 &copy; Flowedge - Marketplace Template.
                    br
                    | Designed by
                    a(href='http://Flowdev Teams.com', target='_blank') &nbsp; Flowdev Teams
