.mobile-header-active.mobile-header-wrapper-style.perfect-scrollbar
    .mobile-header-wrapper-inner
        .mobile-header-content-area
            .mobile-logo
                a.d-flex(href='index.html')
                    img(alt='Flowedge', src='assets/imgs/template/logo.svg')
            .burger-icon
                span.burger-icon-top
                span.burger-icon-mid
                span.burger-icon-bottom
            .perfect-scroll
                .mobile-menu-wrap.mobile-header-border
                    ul.nav.nav-tabs.nav-tabs-mobile.mt-25(role='tablist')
                        li
                            a.active(href='#tab-menu', data-bs-toggle='tab', role='tab', aria-controls='tab-menu', aria-selected='true')
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M4 6h16M4 12h16M4 18h16')
                                | Menu
                        li
                            a(href='#tab-account', data-bs-toggle='tab', role='tab', aria-controls='tab-account', aria-selected='false')
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z')
                                | Account
                        li
                            a(href='#tab-notification', data-bs-toggle='tab', role='tab', aria-controls='tab-notification', aria-selected='false')
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9')
                                | Notification
                    .tab-content
                        #tab-menu.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='tab-menu')
                            nav.mt-15
                                ul.mobile-menu.font-heading
                                    li.has-children
                                        a.active(href='index.html') Home
                                        ul.sub-menu
                                            li
                                                a(href='index.html') Homepage - 1
                                            li
                                                a(href='index-2.html') Homepage - 2
                                            li
                                                a(href='index-3.html') Homepage - 3
                                            li
                                                a(href='index-4.html') Homepage - 4
                                            li
                                                a(href='index-5.html') Homepage - 5
                                            li
                                                a(href='index-6.html') Homepage - 6
                                            li
                                                a(href='index-7.html') Homepage - 7
                                            li
                                                a(href='index-8.html') Homepage - 8
                                            li
                                                a(href='index-9.html') Homepage - 9
                                            li
                                                a(href='index-10.html') Homepage - 10
                                            li
                                                a(href='index-11.html') Homepage - 11
                                            li
                                                a(href='index-12.html') Homepage - 12
                                    li.has-children
                                        a(href='#') Company
                                        ul.sub-menu
                                            li
                                                a(href='about.html')
                                                    | About Us
                                            li
                                                a(href='service.html')
                                                    | Our Services
                                            li
                                                a(href='pricing.html')
                                                    | Pricing Plan
                                            li
                                                a(href='team.html')
                                                    | Meet Our Team
                                            li
                                                a(href='help.html')
                                                    | Help Center
                                            li
                                                a(href='term-conditions.html')
                                                    | Term and Conditions
                                    li.has-children
                                        a(href='#') Career
                                        ul.sub-menu
                                            li
                                                a(href='career.html')
                                                    | Jobs Listing
                                            li
                                                a(href='job-detail.html')
                                                    | Job Details
                                    li.has-children
                                        a(href='blog.html') Blog
                                        ul.sub-menu
                                            li
                                                a(href='blog.html')
                                                    | Blog Listing 1
                                            li
                                                a(href='blog-2.html')
                                                    | Blog Listing 2
                                            li
                                                a(href='blog-detail.html')
                                                    | Blog Details
                                    li.has-children
                                        a(href='#') Shop
                                        ul.sub-menu
                                            li
                                                a(href='shop-grid.html')
                                                    | Products Listing 1
                                            li
                                                a(href='shop-list.html')
                                                    | Products Listing 2
                                            li
                                                a(href='product-detail.html')
                                                    | Product Details
                                    li.has-children
                                        a(href='#') Pages
                                        ul.sub-menu
                                            li
                                                a(href='register.html')
                                                    | Register
                                            li
                                                a(href='login.html')
                                                    | Login
                                            li
                                                a(href='coming-soon.html')
                                                    | Coming soon
                                            li
                                                a(href='404.html')
                                                    | Error 404
                                    li
                                        a(href='contact.html') Contact

                        #tab-account.tab-pane.fade(role='tabpanel', aria-labelledby='tab-account')
                            nav.mt-15
                                ul.mobile-menu.font-heading
                                    li
                                        a.active(href='login.html') My Profile
                                    li
                                        a(href='#') Work Preferences
                                    li
                                        a(href='#') My Boosted Shots
                                    li
                                        a(href='#') My Collections
                                    li
                                        a(href='#') Account Settings
                                    li
                                        a(href='#') Go Pro
                                    li
                                        a(href='register.html') Sign Out

                        #tab-notification.tab-pane.fade(role='tabpanel', aria-labelledby='tab-notification')
                            p.font-sm-bold.color-brand-1.mt-30 Today
                            .notifications-item
                                .item-notify
                                    .item-image
                                        img(src="assets/imgs/template/user1.png", alt="Flowedge")
                                    .item-info
                                        p.color-grey-500.font-xs
                                            strong.font-xs-bold Steven Job
                                            | like started a poll in your post “How to be a good trader in 2025”
                                    .item-time
                                        span.color-grey-500.font-xs Just now
                                .item-notify
                                    .item-image
                                        img(src="assets/imgs/template/user2.png", alt="Flowedge")
                                    .item-info
                                        p.color-grey-500.font-xs
                                            strong.font-xs-bold Steven Job
                                            | like started a poll in your post “How to be a good trader in 2025”
                                    .item-time
                                        span.color-grey-500.font-xs Just now

                            p.font-sm-bold.color-brand-1.mt-30 Yesterday
                            .notifications-item
                                .item-notify
                                    .item-image
                                        img(src="assets/imgs/template/user3.png", alt="Flowedge")
                                    .item-info
                                        p.color-grey-500.font-xs
                                            strong.font-xs-bold Steven Job
                                            | like started a poll in your post “How to be a good trader in 2025”
                                    .item-time
                                        span.color-grey-500.font-xs Just now

                                .item-notify
                                    .item-image
                                        img(src="assets/imgs/template/user4.png", alt="Flowedge")
                                    .item-info
                                        p.color-grey-500.font-xs
                                            strong.font-xs-bold Steven Job
                                            | like started a poll in your post “How to be a good trader in 2025”
                                    .item-time
                                        span.color-grey-500.font-xs Just now
                                .item-notify
                                    .item-image
                                        img(src="assets/imgs/template/user5.png", alt="Flowedge")
                                    .item-info
                                        p.color-grey-500.font-xs
                                            strong.font-xs-bold Steven Job
                                            | like started a poll in your post “How to be a good trader in 2025”
                                    .item-time
                                        span.color-grey-500.font-xs Just now

                .site-copyright.color-grey-400.mt-0
                    .box-download-app
                        p.font-xs.color-grey-400.mb-25 Download our Apps and get extra 15% Discount on your first Order…!
                        .mb-25
                            a.mr-10(href='#')
                                img(src='assets/imgs/template/appstore.png',alt="Flowedge")
                            a(href='#')
                                img(src='assets/imgs/template/google-play.png',alt="Flowedge")
                        p.font-sm.color-grey-400.mt-20.mb-10 Secured Payment Gateways
                        img(src='assets/imgs/template/payment-method.png',alt="Flowedge")

                    .mb-0
                        | Copyright 2025 &copy; Flowedge - Marketplace Template.
                        br
                        | Designed by
                        a(href='http://Flowdev Teams.com', target='_blank') &nbsp; Flowdev Teams
