.box-notify.bg-brand-1
    .container.position-relative
        .box-container-sw
            .box-button-slider
                .swiper-button-prev.swiper-button-prev-notify
                    svg.w-6.h-6(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M10 19l-7-7m0 0l7-7m-7 7h18')
                .swiper-button-next.swiper-button-next-notify
                    svg.w-6.h-6(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
            .box-swiper
                .swiper-container.swiper-notify
                    .swiper-wrapper
                        .swiper-slide
                            span.d-inline-block.font-sm.color-brand-2 Cyber Monday: Save big on the Creative Cloud All Apps plan for individuals through 2 Dec
                        .swiper-slide
                            span.d-inline-block.font-sm.color-brand-2 Students and teachers save a massive 71% on Creative Cloud All Apps
                        .swiper-slide
                            span.d-inline-block.font-sm.color-brand-2 Black Friday and Cyber Monday 2025 Deals for Motion Designers, grab it now!
    a.btn.btn-close
        svg.w-6.h-6(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M6 18L18 6M6 6l12 12')