section.section.banner-team
    .container
        .banner-1
            .row.align-items-center
                .col-lg-5
                    h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Customers Love Our Creative Team, and So Will You
                    .box-button.mt-30.mb-60.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                        a.btn.btn-brand-1.hover-up(href='#') Contact Us
                        a.btn.btn-default.font-sm-bold.hover-up(href='#')
                            | Support Center
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')

                    p.font-md.color-grey-500.mb-25.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s') “Highly recommend Flowedge Agency! They guide us on marketing initiatives and develop great strategies to increase our return on investment. The agency is excellent at being cooperative and responding quickly.”
                    .box-author.wow.animate__animated.animate__fadeIn(data-wow-delay='.6s')
                        a(href="#")
                            img(src="assets/imgs/page/team/author.png", alt="Flowedge")
                        .author-info
                            a(href="#")
                                span.font-md-bold.color-brand-1.author-name Bessie Cooper
                            .rating.d-inline-block
                                img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                                |
                                img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                                |
                                img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                                |
                                img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                                |
                                img(src="assets/imgs/template/icons/star.svg", alt="Flowedge")
                .col-lg-7.d-none.d-lg-block
                    .box-banner-team
                        .arrow-down-banner.shape-1
                        .arrow-right-banner.shape-2
                        .banner-col-1
                            .img-banner.wow.animate__animated.animate__zoomIn(data-wow-delay='.0s')
                                img(src="assets/imgs/page/team/banner1.png", alt="Flowedge")
                        .banner-col-2
                            .img-banner.wow.animate__animated.animate__zoomIn(data-wow-delay='.2s')
                                img(src="assets/imgs/page/team/banner2.png", alt="Flowedge")
                            .img-banner.hasBorder.wow.animate__animated.animate__zoomIn(data-wow-delay='.4s')
                                img(src="assets/imgs/page/team/banner3.png", alt="Flowedge")
                        .banner-col-3
                            .img-banner.hasBorder2.wow.animate__animated.animate__zoomIn(data-wow-delay='.6s')
                                img(src="assets/imgs/page/team/banner4.png", alt="Flowedge")
                            .img-banner.wow.animate__animated.animate__zoomIn(data-wow-delay='.8s')
                                img(src="assets/imgs/page/team/banner5.png", alt="Flowedge")
                            .img-banner.wow.animate__animated.animate__zoomIn(data-wow-delay='1s')
                                img(src="assets/imgs/page/team/banner6.png", alt="Flowedge")