section.section.mt-50
    .container
        .row.mt-50.align-items-center
            .col-xl-5.col-lg-12.mb-40
                h2.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Have a question?
                    br.d-none.d-lg-block
                    | Our team is happy to help you
                .row
                    .col-lg-10.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                        p.font-md.color-grey-500 Access advanced order types including limit, market, stop limit and dollar cost averaging. Track your total asset holdings, values and equity over time. Monitor markets, manage your portfolio, and trade crypto on the go.

                .mt-50.text-start.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                    a.btn.btn-brand-1.hover-up(href="#") Contact Us
                    a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                        svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
            .col-xl-7.col-lg-12
                .box-video-business.box-images-team
                    .item-video.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                        img(src="assets/imgs/page/team/question1.png", alt="Flowedge")
                    .box-image-right
                        .wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                            img.mb-20(src="assets/imgs/page/team/question2.png", alt="Flowedge")
                        .wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                            img(src="assets/imgs/page/team/question3.png", alt="Flowedge")