section.section.banner-service.bg-grey-60.position-relative
    .box-banner-abs
        .container
            .row.align-items-center
                .col-xxl-6.col-xl-7.col-lg-12
                    .box-banner-service
                        h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') All the important insights, guidance and news you need to know.
                        .row
                            .col-lg-9.wow.animate__animated.animate__fadeInUp(data-wow-delay='.3s')
                                p.font-lg.color-grey-500 Keep up-to-date with all our latest company news and business content. The latest news, tips and advice to help you run your business with less fuss

    .row.m-0
        .col-xxl-6.col-xl-6.col-lg-6
        .col-xxl-6.col-xl-6.col-lg-6.pr-0
            .d-none.d-xxl-block.pl-70
                .img-reveal
                    img.w-100.d-block(src="assets/imgs/page/blog/banner.png", alt="Flowedge")