section.section.banner-5
    .container
        .mt-65.mb-100
            .row.align-items-end
                .col-lg-6.mb-20
                    span.title-line.color-brand-2.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') Great sales platform
                    h2.color-brand-2.mt-10.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') #1 Intelligence Software to Accelerate Your SaaS Sales
                .col-lg-6.mb-20
                    p.font-md.color-grey-50.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s') We're lively, not corporate. We have the energy and boldness of a startup and the expertise and pragmatism of a scale-up. All in one place.
            .box-video-banner
                .image-banner-5.wow.animate__animated.animate__fadeIn
                    img(src="assets/imgs/page/homepage5/banner.png", alt="Flowedge")
                    a.btn.btn-play-center.popup-youtube(href="https://www.youtube.com/watch?v=sVPYIRF9RCQ")
            .box-info-video-banner
                .box-inner-video-banner
                    .row.align-items-start
                        .col-lg-5
                            p.color-grey-500.font-lg.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') We're lively, not corporate. We have the energy and boldness of a startup and the expertise and pragmatism of a scale-up. All in one place.
                        .col-lg-7
                            .row
                                .col-lg-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                                    +cardCategory_2('assets/imgs/page/homepage1/free.svg', 'Connected', 'We come together wherever we are – across time zones, regions, offices and screens. You will receive support from your teammates anytime and anywhere.')
                                .col-lg-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                                    +cardCategory_2('assets/imgs/page/homepage2/identity.png', 'Flexible', 'We believe in your freedom to work when and how you work best, to help us all thrive. Only freedom and independent work can bring out the best in you.')