section.section.mt-100
    .container
        .box-radius-16.pl-0.pr-0.pb-0.overflow-hidden.bg-7
            .box-container
                .row
                    .col-lg-6
                        h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Business can also be simple
                        p.font-md.color-grey-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Access advanced order types including limit, market, stop limit and dollar cost averaging. Track your total asset holdings, values and equity over time. Monitor markets, manage your portfolio, and trade crypto on the go.
                    .col-lg-6
                        .row
                            .col-lg-6.col-sm-6.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                                .box-image-bg-60
                                    .img-reveal
                                        img.d-block(src="assets/imgs/page/homepage3/personal.svg", alt="Flowedge")
                                h6.color-brand-1.mb-15 Personal
                                p.font-sm.color-grey-500 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada felis eget finibus placerat. Aliquam sit amet vestibulum felis, sit amet porta neque
                            .col-lg-6.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                                .box-image-bg-60
                                    .img-reveal
                                        img.d-block(src="assets/imgs/page/homepage3/building.svg", alt="Flowedge")
                                h6.color-brand-1.mb-15 Enterprise
                                p.font-sm.color-grey-500 Duis tincidunt dui a felis tincidunt, vehicula ornare diam auctor. Integer id libero id est efficitur mattis. Nunc suscipit consectetur diam a imperdiet. Suspendisse imperdiet

            .row.align-items-center.mt-60
                .col-lg-6
                    .img-reveal
                        img.d-block.w-100(src="assets/imgs/page/homepage5/img.png", alt="Flowedge")
                .col-lg-6
                    .box-business-inner
                        span.btn.btn-tag.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Business
                        h3.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Integrate with over 1,000 project management apps
                        p.font-md.color-grey-400.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.
                        .mt-20
                            ul.list-ticks.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                                li
                                    svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                    | Task tracking
                                li
                                    svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                    | Create task dependencies
                                li
                                    svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                    | Task visualization
                                li
                                    svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                    | hare files, discuss
                                li
                                    svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                    | Meet deadlines faster
                                li
                                    svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                    | Track time spent on each project
                        .mt-50.text-start.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                            a.btn.btn-brand-1.hover-up(href="#") Download App
                            a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                                svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')