section.section.mt-80
    .container
        .box-radius-16.bg-4
            .row
                .col-lg-12.text-center
                    h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Take your social media marketing
                        br.d-none.d-lg-block
                        | prowess to the next level

            .row.mt-50
                .col-lg-6.col-md-12.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                    +cardMarketing("assets/imgs/page/homepage1/cross2.png","Cross-Platform","Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
                .col-lg-6.col-md-12.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                    +cardMarketing("assets/imgs/page/homepage1/cross.png","Social Media","Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
                .col-lg-6.col-md-12.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                    +cardMarketing("assets/imgs/page/homepage1/cross4.png","Brand Identity","Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")
                .col-lg-6.col-md-12.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                    +cardMarketing("assets/imgs/page/homepage1/cross5.png","Customer Service","Discover powerful features to boost your productivit. You are always welcome to visit our little den. Professional in teir craft! All products were super amazing with strong attension to details, comps and overall vibe.")