section.section.mt-50.mb-30
    .container
        .box-container
            .row.mt-50.align-items-center
                .col-xl-6.col-lg-6.mb-30
                    .box-images-cover
                        .box-images-inner
                            .img-reveal
                                img.img-project.bd-rd16(src="assets/imgs/page/homepage5/img-project.png", alt="Flowedge")
                            .image-6.shape-3
                                img(src="assets/imgs/page/homepage5/chart.png", alt="Flowedge")
                .col-xl-6.col-lg-6.mb-30
                    span.btn.btn-tag.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Business
                    h3.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s') Integrate with over 1,000 project management apps
                    p.font-md.color-grey-400.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla. Interactively transform magnetic growth strategies whereas prospective "outside the box" thinking.
                    .mt-20
                        ul.list-ticks.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Task tracking
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Create task dependencies
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Task visualization
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | hare files, discuss
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Meet deadlines faster
                            li
                                svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                                | Track time spent on each project
                    .mt-50.text-start
                        .row
                            .col-lg-4.col-md-4.col-sm-4.col-4.mb-20
                                h2.color-brand-1
                                    span.count 25
                                    span k+
                                p.font-lg.color-brand-1 Happy Clients
                            .col-lg-4.col-md-4.col-sm-4.col-4.mb-20
                                h2.color-brand-1
                                    span.count 756
                                    span +
                                p.font-lg.color-brand-1 Project Done
                            .col-lg-4.col-md-4.col-sm-4.col-4.mb-20
                                h2.color-brand-1
                                    span.count 100
                                    span +
                                p.font-lg.color-brand-1 Global branch

            .row.mb-0.mt-40.project-revert.align-items-center
                .col-xl-5.col-lg-6.col-md-6.mt-30
                    span.btn.btn-tag Business
                    h2.color-brand-1.mt-10.mb-15 Grow your online business now
                    p.font-md.color-grey-400 Access advanced order types including limit, market, stop limit and dollar cost averaging. Track your total asset holdings, values and equity over time. Monitor markets, manage your portfolio, and trade crypto on the go.
                    .mt-50.text-start
                        a.btn.btn-brand-1.hover-up(href="#") Download App
                        a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                .col-xl-7.col-lg-6.col-md-6.mt-30
                    .box-images-cover.text-end
                        .box-images-inner
                            .img-reveal
                                img.img-project.bd-rd16(src="assets/imgs/page/homepage5/img-project2.png", alt="Flowedge")
                            .image-7.shape-3
                                img(src="assets/imgs/page/homepage1/finger.png", alt="Flowedge")
