section.section.pt-100.pb-100.bg-2
    .container
        .box-story.box-story-1
            .row.align-items-center
                .col-xl-6.col-lg-6.col-md-6
                    .box-info-video
                        .img-reveal
                            img.bd-rd8.d-block(src="assets/imgs/page/about/img3.png", alt="Flowedge")
                .col-xl-6.col-lg-6.col-md-6
                    .box-info-video.mt-30.mb-30
                        span.btn.btn-tag.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') OUR STORY
                        h3.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Behind every brand is an
                            br.d-none.d-lg-block
                            | interesting story
                        p.font-md.color-grey-400.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Ea nostrum temporibus ex nulla totam qui galisum quae a adipisci modi. In exercitationem culpa sed blanditiis corrupti sit doloremque maxime eos iusto molestiae ex laborum nulla in quas dignissimos 33 dolorum quis.
                        ul.list-dots.mt-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                            li Aut voluptate iste ex esse earum.
                            li Sed placeat nostrum eum voluptas tenetu
                            li Et reprehenderit fugit et unde voluptate

        .box-story.box-story-2
            .row.align-items-center
                .col-xl-6.col-lg-6.col-md-6
                    .box-info-video.mt-30.mb-30
                        span.btn.btn-tag.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') OUR MISSION
                        h3.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') We have a mission to help businesses grow the best with existing conditions
                        p.font-md.color-grey-400.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Ea nostrum temporibus ex nulla totam qui galisum quae a adipisci modi. In exercitationem culpa sed blanditiis corrupti sit doloremque maxime eos iusto molestiae ex laborum nulla in quas dignissimos 33 dolorum quis. Est dolor autem et voluptate autem id enim optio vel incidunt alias.

                .col-xl-6.col-lg-6.col-md-6
                    .box-info-video
                        .img-reveal
                            img.bd-rd8.d-block(src="assets/imgs/page/about/img4.png", alt="Flowedge")