section.section.mt-90
    .container
        .row.align-items-start
            .col-lg-6
                h6.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s') Our leadership team
                h2.color-brand-1.mb-50.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s') Meet the amazing team behind Flowedge

        .row.align-items-start
            .col-lg-3.col-md-4.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                +cardTeam()
            .col-lg-3.col-md-4.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +cardTeam('assets/imgs/page/about/team2.png','Jennie Tho','Finance Manager','Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus.')
            .col-lg-3.col-md-4.col-sm-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                +cardTeam('assets/imgs/page/about/team3.png','Symon Lesin','Technology Manager','In a professional context it often happens that private or corporate clientsorder a publication to publish news. Excepteur sint occaecat cupidatat non proident,')