section.section.pt-90.banner-about
    .container.text-center
        h6.color-grey-400.mb-15 Who we are
        h2.color-brand-1.mb-15 We are a digital agency that tackles
            br.d-none.d-lg-block
            | all your online challenges.
        p.font-md.color-grey-400.mb-30 Social media networks are open to all. Social media is typically used for social interation and
            br.d-none.d-lg-block
            | access to news and information, and decison making.

        .box-radius-border.mt-50
            .box-list-numbers
                .item-list-number
                    .box-image-bg
                        img(src="assets/imgs/page/homepage3/dispersal.png", alt="Flowedge")
                    h2.color-brand-1
                        span.count 469
                        span K+
                    p.color-brand-1.font-lg Social followers
                .item-list-number
                    .box-image-bg
                        img(src="assets/imgs/page/homepage3/certification.png", alt="Flowedge")
                    h2.color-brand-1
                        span.count 25
                        span k+
                    p.color-brand-1.font-lg Happy Clients
                .item-list-number
                    .box-image-bg
                        img(src="assets/imgs/page/homepage1/cross2.png", alt="Flowedge")
                    h2.color-brand-1
                        span.count 756
                        span +
                    p.color-brand-1.font-lg Project Done
                .item-list-number
                    .box-image-bg
                        img(src="assets/imgs/page/homepage3/research.png", alt="Flowedge")
                    h2.color-brand-1
                        span.count 100
                        span +
                    p.color-brand-1.font-lg Global branch
                .item-list-number
                    .box-image-bg
                        img(src="assets/imgs/page/homepage3/conference.png", alt="Flowedge")
                    h2.color-brand-1
                        span.count 240
                        span +
                    p.color-brand-1.font-lg Conference