section.section.banner-7
    .container
        .box-radius-32.ml-minus-85.mr-minus-85
            .row.align-items-center.h-100
                .col-xl-6
                    .box-banner-left-home7
                        span.title-line.line-48.wow.animate__animated.animate__fadeInUp(data-wow-delay='.s') Think. Creative. Solve
                        h1.color-brand-1.mb-20.mt-5.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                            | We take care of your business to grow
                        .row
                            .col-lg-10
                                p.font-md.color-grey-500.mb-25.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                                    | Collaborate, plan projects and manage resources with powerful features that your whole team can use.  The latest news, tips and advice to help you run your business with less fuss.
                        .box-join-now
                            .box-form-join.wow.animate__animated.animate__fadeInUp(data-wow-delay='.3s')
                                form(action="#")
                                    input.form-control(type="text", placeholder="Enter you mail...")
                                    button.btn.btn-join Join Now
                                        svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                        .box-joined.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s')
                            .box-authors
                                span.item-author
                                    img(src="assets/imgs/page/homepage7/author1.png", alt="Flowedge")
                                span.item-author
                                    img(src="assets/imgs/page/homepage7/author2.png", alt="Flowedge")
                                span.item-author
                                    img(src="assets/imgs/page/homepage7/author3.png", alt="Flowedge")
                                span.item-author
                                    span.text-num-author.font-md-bold.color-brand-1 +2k
                            span.join-thousands.font-sm.color-grey-400.d-inline-block Join thousands of users in using the
                                a.font-sm-bold.color-brand-1(href="#") Flowedge platform!
                .col-xl-6.d-none.d-xl-block.h-100
                    .box-banner-7
                        .banner-7-img-1.scroll-1.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                            img(src='assets/imgs/page/homepage7/banner1.png', alt="Flowedge")
                            img(src='assets/imgs/page/homepage7/banner1-2.png', alt="Flowedge")
                            img(src='assets/imgs/page/homepage7/banner1-3.png', alt="Flowedge")
                        .banner-7-img-2.scroll-2.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                            img(src='assets/imgs/page/homepage7/banner2.png', alt="Flowedge")
                            img(src='assets/imgs/page/homepage7/banner2-2.png', alt="Flowedge")
                            img(src='assets/imgs/page/homepage7/banner2-3.png', alt="Flowedge")