section.section.mt-50
    .container
        .row.align-items-center
            .col-lg-5.mb-30
                span.title-line.line-48.wow.animate__animated.animate__fadeInUp Automatic Tools
                h2.color-brand-1.mt-10.mb-15.wow.animate__animated.animate__fadeInUp Business can also be simple
                p.font-md.color-grey-400.wow.animate__animated.animate__fadeInUp Access advanced order types including limit, market, stop limit and dollar cost averaging. Track your total asset holdings, values and equity over time. Monitor markets, manage your portfolio, and trade crypto on the go.
                .mt-40
                    ul.list-ticks.wow.animate__animated.animate__fadeInUp
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Task tracking
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Create task dependencies
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Task visualization
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | hare files, discuss
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Meet deadlines faster
                        li
                            svg.w-6.h-6.icon-16(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M5 13l4 4L19 7')
                            | Track time spent on each project
                .mt-40.text-start.wow.animate__animated.animate__fadeInUp
                    a.btn.btn-brand-1.hover-up(href="#") Download App
                    a.btn.btn-default.font-sm-bold.hover-up(href="#") Learn More
                        svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
            .col-lg-7.text-center.position-relative.mb-30
                img(src="assets/imgs/page/homepage7/img-2.png", alt="Flowedge")
                .shape-1.box-image-4
                    img(src="assets/imgs/page/homepage7/chart.png", alt="Flowedge")
                .box-number-business.shape-3
                    .cardNumber.bg-white
                        h3
                            span.count 25
                            span k+
                        p.font-xs.color-brand-1 Happy Clients