section.section.mt-50
    .container
        .row.align-items-start
            .col-xl-6.col-lg-6.mb-30
                .card-radius-32
                    .card-info
                        h3.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.s') Financial Management
                        p.font-md.color-grey-500.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.s') Track, manage, and control your expenses. The only financial management tool you’ll ever need.
                        .text-center.wow.animate__animated.animate__fadeInUp(data-wow-delay='.s')
                            a(href="#")
                                img.mr-10(src="assets/imgs/template/appstore.png", alt="Flowedge")
                            a(href="#")
                                img(src="assets/imgs/template/google-play.png", alt="Flowedge")
                    .card-image.wow.animate__animated.animate__fadeIn(data-wow-delay='.s')
                        img(src="assets/imgs/page/homepage7/img-financial.png", alt="Flowedge")
            .col-xl-6.col-lg-6.mb-30
                .card-radius-32.bg-4
                    .card-info
                        h3.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.s') Automated Platform
                        p.font-md.color-grey-500.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.s') Synchronize and automate all your business in the cloud. Save time and effort, enjoy great vacations.
                        .mt-0
                            a.btn.btn-brand-1-small(href="#") Get Started Now
                                svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                    .card-image.wow.animate__animated.animate__fadeIn(data-wow-delay='.s')
                        img(src="assets/imgs/page/homepage7/automated.png", alt="Flowedge")
            .col-xl-12.mb-30
                .card-radius-32.bg-grey-60
                    .row
                        .col-lg-6
                            .box-cover-pd
                                .box-image-rd-30
                                    .img-reveal
                                        img.w-100(src="assets/imgs/page/homepage7/img.png", alt="Flowedge")
                                    h4.color-brand-1.lbl-on-top.wow.animate__animated.animate__fadeInUp(data-wow-delay='.s') Flowedge Business Platform
                        .col-lg-6
                            .box-cover-pd-2
                                h2.color-brand-1.mb-30l How to grow your
                                    br.d-none.d-lg-block
                                    | business fast
                                .wow.animate__animated.animate__fadeInUp
                                    +cardSteps('1','Create an account')
                                .wow.animate__animated.animate__fadeInUp
                                    +cardSteps('2','Build your founding team')
                                .wow.animate__animated.animate__fadeInUp
                                    +cardSteps('3','Launch and Scale')