section.section.mt-50.bg-grey-60
    .container
        .pt-120.pb-120
            h2.color-brand-1.wow.animate__animated.animate__fadeInUp What our loving users are
                br.d-none.d-lg-block
                | saying about us

            .mt-50.wow.animate__animated.animate__fadeIn
                .box-swiper
                    .swiper-container.swiper-group-2
                        .swiper-wrapper
                            .swiper-slide
                                +cardReview('assets/imgs/page/homepage7/author4.png', 'Guy Hawkins', 'Bank of America', 'Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list. When team members can choose the work style that suits them best, productivity and engagement skyrocket. Maecenas lobortis risus.')
                            .swiper-slide
                                +cardReview('assets/imgs/page/homepage7/author5.png', 'Guy Hawkins', 'Bank of America', 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris ac quam sem. Fusce convallis tortor non erat rutrum facilisis. Integer id sem et neque mattis fringilla. Sed ut suscipit justo, in lacinia leo. Suspendisse potenti. Morbi in ornare tellus.')
                            .swiper-slide
                                +cardReview('assets/imgs/page/homepage7/author4.png', 'Guy Hawkins', 'Bank of America', 'Access the same project through five different dynamic views: a kanban board, Gantt chart, spreadsheet, calendar or simple task list. When team members can choose the work style that suits them best, productivity and engagement skyrocket. Maecenas lobortis risus.')