section.section.mt-50
    .container
        .row.mt-50.align-items-end
           .col-xl-4.col-lg-4.mb-30
                h4.color-brand-1.mb-5.wow.animate__animated.animate__fadeInUp See why we are
                    br.d-none.d-lg-block
                    | trusted the world over
                .row
                    .col-lg-6.col-md-6.col-sm-6.col-6.mt-20
                        h2.color-brand-1
                            span.count 756
                            span +
                        p.font-lg.color-brand-1 Project Done
                    .col-lg-6.col-md-6.col-sm-6.col-6.mt-20
                        h2.color-brand-1
                            span.count 100
                            span +
                        p.font-lg.color-brand-1 Global branch
           .col-xl-8.col-lg-8.mb-30
                ul.list-partners.list-partners-2.text-start
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.s')
                        img(src="assets/imgs/page/homepage1/placed.png", alt="Flowedge")
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                        img(src="assets/imgs/page/homepage1/cuebiq.png", alt="Flowedge")
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                        img(src="assets/imgs/page/homepage1/factual.png", alt="Flowedge")
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.3s')
                        img(src="assets/imgs/page/homepage1/placeiq.png", alt="Flowedge")
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s')
                        img(src="assets/imgs/page/homepage1/airmeet.png", alt="Flowedge")
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                        img(src="assets/imgs/page/homepage1/spen.png", alt="Flowedge")
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                        img(src="assets/imgs/page/homepage1/klippa.png", alt="Flowedge")
                    li.wow.animate__animated.animate__fadeInUp(data-wow-delay='.3s')
                        img(src="assets/imgs/page/homepage1/matrix.png", alt="Flowedge")