section.section.banner-6
    .container
        .row.align-items-end
            .col-xl-6.d-none.d-xl-block
                .box-banner-6
                    .img-testimonials-1.shape-1
                        img(src='assets/imgs/page/homepage6/testimonial.png', alt="Flowedge")
                    .img-testimonials-2.shape-2
                        img(src='assets/imgs/page/homepage6/testimonial2.png', alt="Flowedge")
                    img.img-main(src='assets/imgs/page/homepage6/banner.png', alt="Flowedge")
            .col-xl-6
                .box-banner-right-home6
                    span.title-line.line-48.wow.animate__animated.animate__fadeIn(data-wow-delay='.s') Think. Creative. Solve
                    h1.color-brand-1.mb-20.mt-5.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                        | Innovative Solution to Move Your Business Forward
                    .row
                        .col-lg-10
                            p.font-md.color-grey-500.mb-30.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                                | Collaborate, plan projects and manage resources with powerful features that your whole team can use.  The latest news, tips and advice to help you run your business with less fuss.
                    .mt-30
                        h5.color-brand-1.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s') Available on
                    .box-button.mt-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                        a.btn-app.mb-15.hover-up(href='#')
                            img(src="assets/imgs/template/appstore-btn.png", alt="Flowedge")
                        a.btn-app.mb-15.hover-up(href='#')
                            img(src="assets/imgs/template/google-play-btn.png", alt="Flowedge")
                        a.btn.btn-default.mb-15.pl-10.font-sm-bold.hover-up(href='#')
                            | Learn More
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')