section.section.banner-2
    .container
        .banner-1
            .row.align-items-center
                .col-lg-7
                    h1.color-brand-1.mb-20.text-anim Flowedge dashboard will help your payments fast and secure
                    .row
                        .col-lg-9.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                            p.font-md.color-grey-500 Social media networks are open to all. Social media is typically used for social interaction and access to news and information, and decision making.
                    .mt-30.wow.animate__animated.animate__fadeInUp(data-wow-delay='.3s')
                        h5.color-brand-1 Available on
                    .box-button.mt-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s')
                        a.btn-app.mb-15.hover-up(href='#')
                            img(src="assets/imgs/template/appstore-btn.png", alt="Flowedge")
                        a.btn-app.mb-15.hover-up(href='#')
                            img(src="assets/imgs/template/google-play-btn.png", alt="Flowedge")
                        a.btn.btn-default.mb-15.pl-10.font-sm-bold.hover-up(href='#')
                            | Learn More
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
                .col-lg-5.d-none.d-lg-block.wow.animate__animated.animate__fadeIn
                    img(src="assets/imgs/page/homepage2/banner.png", alt="Flowedge")