section.section.mt-50.bg-plan-2.pt-110.pb-110
    .container
        .row.align-items-center
            .col-lg-12.text-center
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')  Choose The Best Plan
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')  Pick your plan. Change whenever you want.
                    br.d-none.d-lg-block
                    | No switching fees between packages
                ul.tabs-plan.change-price-plan(role="tablist")
                    li.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                        a.active(href="#", data-type="monthly") Monthly
                    li.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                        a(href="#", data-type="yearly") Yearly
        .row.mt-50
            .col-xl-4.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                +choosePlan2Free()
            .col-xl-4.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +choosePlan2Standard()
            .col-xl-4.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                +choosePlan2Enterprise()

        .box-button.text-center.mt-20.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
            a.btn.btn-brand-1.hover-up(href='#') Contact Us
            a.btn.btn-default.font-sm-bold.hover-up(href='#')
                | Compare Plans
                svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')