section.section.mt-100
    .container
        .row.mt-50.align-items-center
            .col-lg-6
                .box-images-project
                    .box-images.wow.animate__animated.animate__fadeIn
                        img.img-main-2(src="assets/imgs/page/homepage2/img2.png", alt="Flowedge")
                        .shape-1.image-4
                            img(src="assets/imgs/page/homepage2/certify.png", alt="Flowedge")
                        .shape-2.image-5
                            img(src="assets/imgs/page/homepage2/fly.png", alt="Flowedge")
            .col-lg-6
                .title-line.mb-10.wow.animate__animated.animate__fadeIn How to start?
                h2.color-brand-1.mb-40.wow.animate__animated.animate__fadeIn Bring your target users together on social media
                +cardSteps()
                +cardSteps('2','Build your founding team')
                +cardSteps('3','Launch and Scale')