.section
    .container
        .box-radius-logo
            .text-center
                p.font-lg.color-brand-1.wow.animate__animated.animate__fadeInUp Loved By Developers, Trusted By Enterprises
            .mt-30
                ul.list-partners.wow.animate__animated.animate__fadeInUp
                    li
                        img(src="assets/imgs/page/homepage1/placed.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage1/cuebiq.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage1/factual.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage1/placeiq.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage1/airmeet.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage1/spen.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage1/klippa.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage2/reed.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage2/vuori.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage2/versed.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage1/matrix.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage1/klippa.png", alt="Flowedge")
                    li
                        img(src="assets/imgs/page/homepage1/factual.png", alt="Flowedge")
