section.section.mt-50
    .container
        .row.align-items-end
            .col-lg-8.col-md-8
                h2.color-brand-1.mb-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.0s') From our blog
                p.font-lg.color-gray-500.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s') Aenean velit nisl, aliquam eget diam eu, rhoncus tristique dolor.
                    br.d-none.d-lg-block
                    | Aenean vulputate sodales urna ut vestibulum
            .col-lg-4.col-md-4.text-md-end.text-start.wow.animate__animated.animate__fadeInUp(data-wow-delay='.4s')
                a.btn.btn-default.font-sm-bold.pl-0 View All
                    svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
        .row.mt-55
            .col-xl-3.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                +cardBlogGridStyle2('assets/imgs/page/homepage2/news1.png')
            .col-xl-3.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                +cardBlogGridStyle2('assets/imgs/page/homepage2/news2.png','Tiktok video size guide: Everything you need to know', 'Marketting')
            .col-xl-3.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                +cardBlogGridStyle2('assets/imgs/page/homepage1/news2.png', 'How to convert video to MP4 for free online', 'Media')
            .col-xl-3.col-lg-6.col-md-6.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                +cardBlogGridStyle2('assets/imgs/page/homepage2/news3.png','5 fastest ways to increase search engine rankings','SEO')