section.section.mt-50
    .container
        .row.mt-50
            .col-xl-6.col-lg-5
                .box-images-project
                    .title-line.mb-10.wow.animate__animated.animate__fadeIn Why choose us?
                    h2.color-brand-1.mb-25.wow.animate__animated.animate__fadeIn See why we are trusted the world over
                    p.color-grey-500.mb-15.wow.animate__animated.animate__fadeIn Necessary to deliver white glove, fully managed campaigns that surpass industry benchmarks.Take your career to next level. Apply to our team and see what we can do together. You’re good enough.
                    p.color-grey-500 Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature Id pro doctus mediocrem erroribus, diam nostro sed cu. Ea pri graeco tritani partiendo. Omittantur No tale choro fastidii his, pri cu epicuri perpetua. Enim dictas omittantur et duo, vocent lucilius quaestio mea ex. Ex illum officiis id.
                    .box-button.text-start.mt-40.wow.animate__animated.animate__fadeIn
                        a.btn.btn-brand-1.hover-up(href='#') Download App
                        a.btn.btn-default.font-sm-bold.hover-up(href='#')
                            | Learn More
                            svg.w-6.h-6.icon-16.ml-5(fill='none', stroke='currentColor', viewbox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M14 5l7 7m0 0l-7 7m7-7H3')
            .col-xl-6.col-lg-7
                .row.pt-40
                    .col-lg-6.col-md-6
                        .cardNumber.hasBorder.mt-50.wow.animate__animated.animate__zoomIn(data-wow-delay='.0s')
                            .card-head 465k
                            .card-description Social followers
                        .cardNumber.bg-brand-2.wow.animate__animated.animate__zoomIn(data-wow-delay='.2s')
                            .card-head 756+
                            .card-description Project Done
                    .col-lg-6.col-md-6
                        .cardNumber.bg-2.wow.animate__animated.animate__zoomIn(data-wow-delay='.4s')
                            .card-head 5000+
                            .card-description Happy Clients
                        .cardNumber.bg-4.wow.animate__animated.animate__zoomIn(data-wow-delay='.5s')
                            .card-head 100%
                            .card-description Client Satisfaction